<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Cheat Sheet & Script</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body>
<!-- header -->
<div id="top-nav" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="images/ucc.png"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-asterisk"></i> Providers <span class="caret"></span></a>
                    <ul id="g-account-menu" class="dropdown-menu" role="menu">
                        <li><a href="#brighthouse">Bright House</a></li>
                        <li><a href="#charter">Charter</a></li>
                        <li><a href="#cox">Cox</a></li>
                        <li><a href="#directv">DIRECTV</a></li>
                        <li><a href="#mediacom">Mediacom</a></li>
                        <li><a href="#twc">Time Warner</a></li>
                    </ul>
                </li>
                <li><a title="Training" data-toggle="modal" href="#training"><span class="glyphicon glyphicon-book"></span> Training</a></li>
                <li><a href="/scripts"><i class="glyphicon glyphicon-align-left"></i>  Scripts</a></li>
            </ul>
        </div>
    </div>
    <!-- /container -->
</div>
<!-- /Header -->
        
        <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav affix">
             <ul class="nav nav-stacked">
                <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#callback"><i class="glyphicon glyphicon-earphone"></i> Call Back Numbers &nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-down"></span></a>
                    <ul class="nav nav-stacked collapse" id="callback">
                        <li><a href="tel: 888-608-8824">&nbsp;&nbsp;888-608-8824 - Brighthouse</a></li>
                        <li><a href="tel: 855-969-0838">&nbsp;&nbsp;855-969-0838 - Charter </a></li>
                        <li><a href="tel: 866-993-7323">&nbsp;&nbsp;866-993-7323 - Comcast</a></li>
                        <li><a href="tel: 877-630-5446">&nbsp;&nbsp;877-630-5446 - Cox </a></li>                        
                        <li><a href="tel: 888-367-3051">&nbsp;&nbsp;888-367-3051 - DirecTV </a></li>
                        <li><a href="tel: 877-647-1193">&nbsp;&nbsp;877-647-1193 - Frontier</a></li>
                        <li><a href="tel: 877-981-9987">&nbsp;&nbsp;877-981-9987 - Mediacom</a></li>
                        <li><a href="tel: 877-624-4353">&nbsp;&nbsp;877-624-4353 - TW</a></li>        
                    </ul>
                </li>
                <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#customerservice"><i class="glyphicon glyphicon-headphones"></i> Customer Service &nbsp;&nbsp;<i class="glyphicon glyphicon-chevron-down"></i></a>
                     <ul class="nav nav-stacked collapse" id="customerservice">
                        <li><a href="tel: 800-288-2020">&nbsp;&nbsp;800-288-2020 - AT&T </a></li>
                        <li><a href="tel: 888-289-8988">&nbsp;&nbsp;888-289-8988 - Brighthouse</a></li>
                        <li><a href="tel: 888-438-2427">&nbsp;&nbsp;888-438-2427 - Charter</a></li>
                        <li><a href="tel: 800-934-6489">&nbsp;&nbsp;800-934-6489 - Comcast</a></li>                        
                        <li><a href="tel: 855-780-2031">&nbsp;&nbsp;855-780-2031 - Cox</a></li>
                        <li><a href="tel: 800-531-5000">&nbsp;&nbsp;800-531-5000 - DIRECTV</a></li>
                        <li><a href="tel: 877-462-8188">&nbsp;&nbsp;877-462-8188 - Frontier</a></li>
                        <li><a href="tel: 866-347-3292">&nbsp;&nbsp;866-347-3292 - Hughesnet</a></li>   
                        <li><a href="tel: 855-633-4226">&nbsp;&nbsp;855-633-4226 - Mediacom</a></li>
                        <li><a href="tel: 888-892-2253">&nbsp;&nbsp;888-892-2253 - Timewarner</a></li>
                    </ul>
                    <ul class="nav nav-stacked">
                    <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#links"><i class="glyphicon glyphicon-link"></i>&nbsp;Helpful Links&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-down"></span></a>
                    <ul class="nav nav-stacked collapse" id="links">
                    <li><a href="http://maps.google.com" title="click to open" target="_blank">&nbsp;&nbsp;Google Maps</a></li>
					<li><a href="http://www.cablemover.com" title="click to open" target="_blank">&nbsp;&nbsp;CableMover.com</a></li>					
					<li><a href="https://www.charter.com/browse/content/channel-lineup" title="click to open" target="_blank">&nbsp;&nbsp;Charter Channel Lineup</a></li>
				    <li><a href="http://charter.com/locations" title="click to open" target="_blank">&nbsp;&nbsp;Charter Office Locations</a></li>                
                	<li><a href="https://www.charter-retailportal.com/Account/Login.aspx?ReturnUrl=%2f" title="click to open" target="_blank">&nbsp;&nbsp;Charter Portal</a></li>	
					<li><a href="http://www.comcast.com/Customers/Clu/ChannelLineup.ashx" title="click to open" target="_blank">&nbsp;&nbsp;Comcast Channel Lineup</a></li>			
					<li><a href="https://ly.comcast.com/Localization/Localize.cspx?Referer=/paymentCenters/FindPaymentCenters.cspx" title="click to open" target="_blank">&nbsp;&nbsp;Comcast Service Center</a></li>
					<li><a href="http://ww2.cox.com/aboutus/sandiego/contact-us/cox-centers.cox" title="click to open" target="_blank">&nbsp;&nbsp;Cox Office Locations</a></li>
					<li><a href="http://ww2.cox.com/residential/tv/channel-lineup.cox" title="click to open" target="_blank">&nbsp;&nbsp;Cox Channel Lineup</a></li>
                    <li><a href="http://www.cableauthorizeddealer.com/luxradius/?oid=472042&cb%5Bxp%5D=default&ca%5Bdealer_location_code%5D=6237" title="click to open" target="_blank">&nbsp;&nbsp;Leapfrog</a></li>
                    <li><a href="http://www.timewarnerla.com/cablestores/" title="click to open" target="_blank">&nbsp;&nbsp;Time Warner Office Locations</a></li>
					<li><a href="http://www.timewarnercable.com/Localization/Corporate.ashx?tid=1&embedded=False" title="click to open" target="_blank">&nbsp;&nbsp;Time Warner Channel Lineup</a></li>
                    </ul>
            </ul>
                    <ul class="nav nav-stacked">
                    <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#orderentry"><i class="glyphicon glyphicon-edit"></i>&nbsp;Order Entry&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-down"></span></a>
                    <ul class="nav nav-stacked collapse" id="orderentry">                    
					<li><a href="tel: 866-820-8722" arget="_blank">&nbsp;&nbsp;866-820-8722 - Charter </a></li>    
                    <li><a href="tel: 855-392-9910" target="_blank">&nbsp;&nbsp;855-392-9910 - Leapfrog</a></li>					
					<li><a href="tel: 210-301-0779" target="_blank">&nbsp;&nbsp;210-301-0779 - TPV Charter</a></li>				
                    </ul>
            </ul>
            <ul class="nav nav-stacked">
                    <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#service"><i class="glyphicon glyphicon-flag"></i>&nbsp;Servicability&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-down"></span></a>
                    <ul class="nav nav-stacked collapse" id="service">
                    <li><a href="tel: 866-639-6769" target="_blank">&nbsp;&nbsp;866-639-6769 - Charter </a></li>
					<li><a href="tel: 855-392-9910" target="_blank">&nbsp;&nbsp;855-392-9910 - Time Warner</a></li>					
                    </ul>
            </ul>
            <ul class="nav nav-stacked">
                    <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#repid"><i class="glyphicon glyphicon-star"></i>&nbsp;Rep ID&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-down"></span></a>
                    <ul class="nav nav-stacked collapse" id="repid">
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;  29559 - Charter</li>
					<li>&nbsp;&nbsp;&nbsp;&nbsp;  22698 - Leapfrog</li>					
                    </ul>
            </ul>
                </li>
            </ul>
        </ul>
      </div>

<!-- Main -->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 fixed">
        </div>
        <!-- /col-3 -->
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 scrollit">
            <div class="row">
                <!-- center left-->
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 scrollit">
                    
                    <h2>Providers</h2>
                    <hr>
                    
                    <!-- BRIGHT HOUSE -->
                    <div class="panel">
                        <div class="panel-heading" id="brighthouse"><h3>Bright House</h3></div>
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a href="#bh_profile" data-toggle="tab">Profile</a></li>
                            <li><a href="#bh_products" data-toggle="tab">Products</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active well" id="bh_profile">
                                <p>Bright House Networks is the sixth largest owner and operator of cable systems in the U.S. and the second largest in Florida with technologically advanced systems located in five states including Florida, Alabama, Indiana, Michigan, and California.</p>
                                <p>Bright House Networks serves more than 2.4 million customers who subscribe to one or more of its video, high-speed data and voice services. The company also offers a full suite of Phone, Internet, Ethernet, and Cable Television services to businesses of all sizes.</p>
                                <p>Bright House services: <b>Alabama, California, Florida, Minnesota and Indiana.</b></p>
                            </div>
                            <div class="tab-pane well" id="bh_products">
                                <div class="provider-box">
                                        <h2>Bright House Products</h2>
                                        <h4><b>Digital Cable</b></h4>
                                        <b>Digital TV:</b>
                                        <ul>
                                            <li>200+ Channels</li>
                                            <li>No Contract or Equipment to Buy</li>
                                            <li>Local 24/7 Customer Care</li>
                                            <li>Movies On Demand, Free On Demand, and Local On Demand</li>
                                            <li>Free Standard Cable on your additional TV outlets</li>
                                            <li>Start Over with the ability to look back up to 72 hrs</li>
                                            <li>Exclusive local programming including Bay News 9, Central Florida News, Bright House Sports Networks and InfoMas.</li>
                                            <li>Premium Channels (HBO, Showtime, Cinemax, TMC, Starz)</li>
                                            <li>Hispanavision (Spanish-language Programming)</li>
                                            <li>Sports Pass</li>
                                            <li>45 Music Channels</li>
                                        </ul>
                                        <h4><b>High-Speed Internet</b></h4>
                                        <b>Lightning 90:</b>
                                        <ul>
                                            <li>
                                                90 Mbps download speed 10 Mbps upload speed
                                            </li>
                                            <li>
                                                Good for email, surfing the web, music, photos, streaming videos,  watching movies, gaming, supporting multiple devices simultaneously without slowing down the network.
                                            </li>
                                        </ul>
                                        <b>Lightning 60:</b>
                                        <ul>
                                            <li>60 Mbps download speed 5 Mbps upload speed</li>
                                            <li>Up to 26x faster than Standard DSL</li>
                                            <li>25 Email Accounts</li>       
                                            <li>Up to 5 GB Mailbox Storage</li>
                                        </ul>
                                        <b>Turbo 30:</b>
                                        <ul>
                                            <li>30 Mbps download speed 2 Mbps upload speed</li>
                                            <li>Up to 13x faster than Standard DSL</li>
                                            <li>25 Email Accounts</li>
                                            <li>Up to 5 GB Mailbox Storage</li>
                                        </ul>
                                        <b>Standard 10:</b>
                                        <ul>
                                            <li>10 Mbps download speed 1 Mbp upload speed</li>
                                            <li>Up to 6x faster than Standard DSL</li>
                                            <li>10 Email Accounts</li>
                                            <li>Up to 2 GB Mailbox Storage</li>
                                        </ul>
                                        <h4><b>Telephone: Unlimited</b></h4>
                                        <p>Free features include: Caller ID, Caller ID on TV, Call Waiting, Call Waiting ID, Enhanced 911, International call block (Additional Charge), Caller ID on Mobile, Free Online Directory Search, 3-Way Calling, Call Forwarding, 611 Customer Support</p>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <!--/BRIGHT HOUSE -->
                    

                    <!--CHARTER -->
                    <div class="panel">
                        <div class="panel-heading" id="charter"><h3>Charter</h3></div>
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a href="#ch_profile" data-toggle="tab">Profile</a></li>
                            <li><a href="#ch_products" data-toggle="tab">Products</a></li>
                            <li><a href="#ch_gen_pricer" data-toggle="tab">General Pricer</a></li>
                            <li><a href="#ch_portal" data-toggle="tab">Charter Portal</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active well" id="ch_profile">
                                <p>Charter Communications, Inc. is a Fortune 500 company and the fourth-largest cable operator in the U.S. Charter provides advanced video, high-speed internet, and telephone services to approximately 5.2 million residential and business customers in 25 states. At the core, our mission is to provide value to our customers. We strive to do this every day by offering high-quality entertainment and communication services and continually improving customer care through the commitment of our more than 16,000 employees nationwide.</p>
                                <p>Charter serves customers in <b>California (Southern CA), Central States (IL, MO), Georgia/Alabama, Michigan, Minnesota/Nebraska, New England (NY, VT, NH, MA, CT), Northwest (Northern CA, NV, OR, WA), South Carolina/North Carolina/Virginia, Tennessee/Louisiana, Texas, and Wisconsin</b></p>
                            </div>
                            <div class="tab-pane well" id="ch_products">
                                <h2>Charter Products</h2>
                                <div class="provider-box">
	<h2>Charter Products</h2>
	<ul class="icon-check">
		<li class="icon-school">
			We do have great promotion right now including the TV Select, Internet Plus starting at $89.97/mo, which also includes a free phone! Whether or not you actually set up a phone is entirely up to you. Would you be interested in this promotion today?
		</li>
		<li class="icon-school">
			Let me go over each service for you.
		</li>
	</ul>
	<h4>Digital Cable</h4>
	<ul class="icon-check">
		<li class="icon-school">
			The Select package starting at $59.99/mo is the most basic package available, however, you still offers over 175+ channels including local news and broadcast channels, primetime channels like ABC, CBS, TNT, Fox, PBS, and other popular channels such as Animal Planet, A&amp;E, Bravo, BET, Discovery, E!, ESPN, Cartoon Network, Disney, Nickelodeon, History, MTV, VH1, and many more. There is also:
			<ul>
				<li>
					<span class="qTipPhrase" data-hasqtip="33">Charter On Demand</span>
					<div class="tooltiptext">
						Access to thousands of movies and shows available at any given time, many in HD, many of them free and the selection is refreshed weekly. Watch whenever you want on your schedule. HBO, Cinemax, Showtime, TMC, and Starz customers get access to shows On Demand at no additional charge. Optional “Subscription On Demand” services include Disney Family Movies, Howard TV, Too Much for TV, WWE 24/7, Anime, and Karaoke.
					</div>
					and an <span class="qTipPhrase" data-hasqtip="34" aria-describedby="qtip-34">Interactive Guide</span>.
					
				</li>
			</ul>
		</li>
		<li class="icon-school">
			How many TV’s are you looking set up?
		</li>
		<li class="icon-school">
			In order to get all the channels available in the Select Package, the Interactive Guide and On Demand options, each TV would need a receiver and each receiver is an additional [Look at Price in Portal] added monthly.
		</li>
		<li class="icon-check">
			ACTION: Add the monthly rate including equipment for the customer.
		</li>
		<li class="icon-school">
			Are you also looking to add <span class="qTipPhrase" data-hasqtip="35">DVR Service</span>? If you would like to set up just 1 TV with DVR it would be an additional $11.99/mo or if you would like to set up more than 1 TV but up to 4 TV’s with DVR, it would be an additional $19.99/mo.
			<div class="tooltiptext">
				Super easy time shifting and recording with DVR. The ability to Pause live TV, record 2 programs simultaneously while watching a 3rd recorded program, record by time, title or genre, record an entire series of shows, store up to 780 hours of programming, fast forward, pause, and stop functionality, DVR service up to 4 DVR for $19.99/mo
			</div>
		</li>
		<li class="icon-check">
			ACTION: Add notes in Salerity of TV options the customer would like
		</li>
	</ul>
	<h4>Internet</h4>
	<ul class="icon-check">
		<li class="icon-school">
			Our Charter Internet Plus is the only Internet speed available. This offers:
			<ul>
				<li>30 megabits download speed with a 4 megabits upload speed</li>
				<li>Excellent for streaming videos online with Netflix, gaming on an Xbox or Playstation, downloading music and large files, uploading photos and sharing, browsing the web and emailing. This is especially great for multi-users in the home with multiple devices.</li>
				<li>Included at no additional cost is Charter Security Suite which includes anti-virus, anti-spyware, anti-phishing, firewall, spam filter, and parental control protection.,/
				</li><li>Included also is 10 email accounts of 100 MB each</li>
				<li>Personal web space of 20 MB</li>
				<li>and 24/7 Self-Help and Technical Support</li>
			
		
		<li class="icon-school">
			Our Internet package also includes the modem, however, not the router if you would like<span class="qTipPhrase" data-hasqtip="36">Wifi</span> capabilities. Do you have your own router or would you need to lease the router from Charter?
			<div class="tooltiptext">
				The ability to connect multiple devices such as a laptop, tablet, or mobile phone to the network wirelessly. Leasing the router includes unlimited technical support on Charter equipment.
			</div>
		</li>
		<li class="icon-school">
			If you lease the router, it would be an additional [Look at Price in Portal] added monthly and one time activation fee of $39.99. Do you want to lease the router from Charter or provide your own?
		</li>
		<li class="icon-check">
			ACTION: Add up all charges including TV if included with Internet with equipment
		</li>
	</ul>
	<h4>Phone</h4>
	<ul class="icon-check">
		<li class="icon-school">
			Charter phone is included free with our Triple Play bundle! Features for Charter phone include:
		</li>
		<li>
			<ul>
				<li>Unlimited calling throughout the US, Canada, Puerto Rico, Guam, and US Virgin Islands</li>
				<li>Voicemail plus 13 calling features including Caller ID, Call Waiting, Call Forwarding, and 3 Way Calling</li>
				<li>You can keep your same telephone number or get a new one</li>
				<li>Free 411 calls</li>
				<li>Phone Manager service allows customers to manage voicemail and phone functionality online with Charter Internet</li>
				<li><b>NOT SOLD SEPARATELY</b> to new customers, only part of a bundle</li>
				<li><b>No extra taxes or fees</b></li>
			</ul>
		</li>
	</ul>
	<h4>Installation</h4>
	<ul class="icon-check">
		<li class="icon-school">
			There is a one time installation fee of $29.99 to set up service
		</li>
		<li class="icon-check">
			ACTION: Total up all costs for service the customer wants and give them an overall total including equipment cost and any additional fees.
		</li>
		<li class="icon-check">
			ACTION: If the customer commits to ordering new service, click on the green <b>Convert</b> button and fill in the order notes while still on the call with the customer.
		</li>
		<li class="icon-check">
			ACTION: When you are done giving all the pricing, proceed to Close and Convert link
		</li>
		<li class="icon-docs">
			QUICK LINK:
			<ul>
				<li>
					<a href="#closeandconvert" onclick="$('#fancybox-close').click()">Ready to close the sale and set up an order, click here for (Close and Convert Script)</a>
				</li>
			</ul>
		</li>
	</ul>
</li></ul></div>
                            </div>
                            <div class="tab-pane well" id="ch_gen_pricer">
                                <img src="http://salerity.com/manager/sales-script/images/photos/charter-residential-pricer-active.png"></img>
                            </div>
                            <div class="tab-pane well" id="ch_portal">
                                <a href="http://salerity.com/manager/private/sales-script/guides/Charter_Portal_12-17-13.pdf"><span class="glyphicon glyphicon-new-window"></span>   Charter Retail Portal Guide</a>
                            </div>
                        </div>
                    </div>
                    <!--/CHARTER -->
                    
                
                    <!--COX -->
                    <div class="panel">
                        <div class="panel-heading" id="cox"><h3>Cox</h3></div>
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a href="#cox_profile" data-toggle="tab">Profile</a></li>
                            <li><a href="#products" data-toggle="tab">Products</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active well" id="cox_profile">
                                <p>Cox is the third-largest cable entertainment and broadband services provider in the country, Cox Communications Inc. is best known for pioneering the bundle of television, Internet and telephone services together, offering consumers the ability to consolidate their services with one provider. For Cox, it’s not about being the biggest; it’s about being the best. Excellence in customer care is another hallmark of Cox Communications.</p>
                                <p>With over 6 million customers and over 22,000 employees, Cox is known as one of the best in the business. In addition to customer care leadership, Cox is also widely lauded for its commitment to diversity and inclusion and overall corporate strategy. And according to the J.D. Power and Associates 2008 Major Provider Business Telecommunications StudySM, small and midsize businesses are more satisfied with our data solutions than with any other company. In 2006 J.D. Power and Associates gave us their highest honor for cable TV customer satisfaction, and in 2005 we received the same award for our high-speed Internet service. In fact, we've earned awards for each of the services we offer, and we're the only communications company to win top satisfaction honors in video, Internet, phone, and business categories.</p>
                                <p>Cox is offered in <b>California, Pennsylvania,Virginia, Kansas, Oklahoma and North Carolina.</b></p>
                            </div>
                            <div class="tab-pane well" id="products">
                                <div class="provider-box">
	<h2>Cox Products</h2>
	<h4>Television</h4>
	<ul class="icon-check">
		<li class="icon-school">
			We do have different television packages to choose from. Are you looking for a basic package or one that offers many channels? Let me go over each package to help you decide which to choose from.
		</li>
		<li class="icon-school">
			First there is our <b>Economy TV</b> starting at [Look at Price in Portal] which includes 155+ channels like local news and weather as well as primetime channels like ABC, CBS, NBC, Fox, TNT, USA, and PBS
		</li>
		<li class="icon-check">
			ACTION: Pay attention to any additional promotions in the middle grey area of the Portal
		</li>
		<li class="icon-docs">
			QUICK LINK:
			<ul>
				<li>
					<a href="http://ww2.cox.com/residential/tv/channel-lineup.cox" target="_blank">Cox Channel Lineup</a>
				</li>
			</ul>
		</li>
		<li class="icon-school">
			You do need at least 1 receiver to set up service and the receiver is an additional $8.50 added monthly.
		</li>
		<li class="icon-school">
			We also offer Advanced TV starting at [Look at Price in Portal] which includes 220+ channels like local news and weather as well as primetime channels like ABC, CBS, NBC, Fox, TNT, USA, PBS, Discovery, Disney, Nickelodeon, FX, USA, History, Animal Planet, Cartoon Network, VH1, MTV, Bravo, E!, ESPN, OWN, and SyFy just to name a few.
		</li>
		<li class="icon-check">
			ACTION: Pay attention to any additional promotions in the middle grey area of the Portal
		</li>
		<li class="icon-docs">
			QUICK LINK:
			<ul>
				<li>
					<a href="http://ww2.cox.com/residential/tv/channel-lineup.cox" target="_blank">Cox Channel Lineup</a>
				</li>
			</ul>
		</li>
		<li class="icon-school">
			How many TV’s are you looking to set up?
		</li>
		<li class="icon-school">
			In order to get all the channels, an Interactive Guide, and On Demand options you would need a receiver and each receiver is an additional $8.50/mo.
		</li>
		<li class="icon-check">
			ACTION: Add the monthly rate including equipment for the customer
		</li>
		<li class="icon-school">
			We also offer <span class="qTipPhrase" data-hasqtip="1">DVR Service</span> and premium movie bundles; would you be interested in these additional features?
			<div class="tooltiptext">
				Super easy time shifting and recording with DVR. The ability to Pause live TV, record 2 programs simultaneously while watching a 3rd recorded program, record by time, title or genre, record an entire series of shows, store up to 780 hours of programming, fast forward, pause, and stop functionality
			</div>
		</li>
		<li class="icon-check">
			ACTION: Add additional cost for DVR if applies
		</li>
		<li class="icon-check">
			ACTION: Add notes in Salerity of TV options the customer would like
		</li>
	</ul>
	<h4>Internet</h4>
	<ul class="icon-check">
		<li class="icon-school">
			We do have 2 different speeds to choose from, what types of things do you usually use the internet for?
		</li>
		<li class="icon-school">
			There is the <b>Internet Essentials</b> starting at [Look at price in Portal] with a 5 megabit download speed which is good for light video streaming, browsing the web, and emailing. You do also get:
			<ul>
				<li>1 GB Cox secure online backup and 2 GB of email storage per mailbox</li>
				<li>10 email accounts, Web Mail, Spam Blocker, and Music Choice Broadband</li>
			</ul>
		</li>
		<li class="icon-school">
			We do also have the Internet Preferred starting at [Look at Price in Portal] with a 25 megabit download speed, excellent for streaming videos or movies online, gaming, browsing the web, emailing, downloading music, and sharing photos. You do also get:
			<ul>
				<li>1 GB Cox secure online backup and 2 GB of email storage per mailbox</li>
				<li>10 email accounts, Web Mail, Spam Blocker, and Music Choice Broadband</li>
			</ul>
		</li>
		<li class="icon-school">
			Do you have your own modem and router or would you need to lease the equipment?
		</li>
		<li class="icon-school">
			You can purchase your own equipment; if you go to your local electronic store or even the electronics department at a Target, Walmart, or Best Buy, the price ranges between $30-$50 depending on the brand.
		</li>
		<li class="icon-school">
			If you lease the modem/router combo it would be an additional $6.99/mo. Would you like to lease the equipment or provide your own?
		</li>
		<li class="icon-check">
			ACTION: Add the price up including the equipment for modem/router if applies as well as any additional services like TV if included in the order also.
		</li>
		<li class="icon-check">
			ACTION: Notate requests and equipment in the Quick Notes in Salerity that apply
		</li>		
	</ul>
	<h4>Phone</h4>
	<ul class="icon-check">
		<li class="icon-school">
			Our phone service comes with Unlimited local and long distance calling anywhere in the US, Canada, and other US territories. It also has Call Waiting, Caller ID, Call Forwarding, 3-Way Calling, and many more features. You can keep your old phone number or get a new one.
		</li>
		<li class="icon-check">
			ACTION: Total up all costs for service the customer wants and give them an overall total including equipment cost and any additional fees.
		</li>		
		<li class="icon-check">
			ACTION: If the customer commits to ordering new service, click on the green Convert button and fill in the order notes while still on the call with the customer.
		</li>		
		<li class="icon-check">
			ACTION: Note requested service and all preferences in Salerity
		</li>		
	</ul>
	<h4>Installation</h4>
	<ul class="icon-check">
		<li class="icon-school">
			There are 2 options for installation
		</li>
		<li class="icon-school">
			You can either self install, which is a one time [Look at Price in Portal] by picking up your equipment at a local store or have it mailed to you with instructions on how to set up your service OR you can have professional installation by a technician in your area which is a one time [Look at Price in Portal]
		</li>
		<li class="icon-school">
			What installation option would you like to choose?
		</li>
		<li class="icon-check">
			ACTION: When you are done giving all the pricing, proceed through the Portal for Billing and installation options
		</li>		
		<li class="icon-check">
			ACTION: If the customer does not want to pre-pay for services, simply submit the order and copy the confirmation number so you can put it in your Salerity order. A Cox representative will then contact the customer directly to set up their Billing options and Installation options. You can lock down 3 installation options in the meantime
		</li>		
	</ul>
</div>
                            </div>
                            <div class="tab-pane well" id="ch_gen_pricer">
                                <img src="http://salerity.com/manager/sales-script/images/photos/charter-residential-pricer-active.png"></img>
                            </div>
                        </div>
                    </div>
                    <!--/COX -->
            
                    <!--DIRECTV -->
                    <div class="panel">
                        <div class="panel-heading" id="directv"><h3>DIRECTV</h3></div>
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a href="#dtv_profile" data-toggle="tab">Profile</a></li>
                            <li><a href="#dtv_products" data-toggle="tab">Products</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active well" id="dtv_profile">
                                <p>DirecTV provides television and audio services to subscribers through satellite transmissions. Services include the equivalent of many local television stations, broadcast television networks, subscription television services, satellite radio services, and private video services. Subscribers have access to hundreds of channels, so its competitors are cable television service and other satellite-based services.</p>
                            </div>
                            <div class="tab-pane well" id="dtv_products">
                                <h2>DIRECTV Products</h2>
                                <p>Coming soon...</p>
                            </div>
                        </div>
                    </div>
                    <!--/DIRECV -->
            
                    <!--MEDIACOM -->
                    <div class="panel">
                        <div class="panel-heading" id="mediacom"><h3>Mediacom</h3></div>
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a href="#mc_profile" data-toggle="tab">Profile</a></li>
                            <li><a href="#mc_products" data-toggle="tab">Products</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active well" id="mc_profile">
                                <p>Mediacom serves over 1,500 communities throughout the country. While most of our coverage is in America’s smaller cities and towns, we believe our customers deserve the same level of digital services that people receive in major metropolitan areas. They have invested millions of dollars to build a nationwide fiber optic infrastructure to deliver a wide array of advanced products and services including digital cable TV, high-speed Internet and Phone services. Our fiber network includes more than 560,000 miles of fiber optics.</p>
                                <p>Mediacom serves customers in over 1,500 communities in 22 states. Click on your state or a major location to find your local Mediacom office, services in: <b>GEORGIA, FLORIDA, ILLINOIS, IOWA and MISSOURI</b></p>
                            </div>
                            <div class="tab-pane well" id="mc_products">
                                <div class="provider-box">                                    
                                    <h2>Mediacom Products</h2>
                                    <h4><b>Digital Cable</b></h4>
                                    Prime TV (Boundary Free TV)
                                    <ul>
                                        <li>165+ Digital Channels</li>
                                        <li>46+ commercial-free Music Channels</li>
                                        <li>6,000 hours of free On Demand shows every month, as well as access to new movies, pay-per-view and sports specials</li>
                                        <li>Free HD Primetime favorites, ABC Family, A&amp;E, BET, Bravo, CN, CNN, Comedy Central, Discovery, Disney, E, ESPN (2), MSNBC, MTV, TBS, TLC, TNT, USA, VH1, We, Lifetime</li>
                                        <li>DVR Available</li>
                                    </ul>
                                    <h4><b>High-Speed Internet</b></h4>
                                    <b>* Not all speeds available in all areas</b>
                                    <ul>
                                        <li>                                            <b>Launch</b>
                                            <ul>
                                                <li>3 Mbps download speed 512 KB upload speed</li>
                                                <li>Monthly usage allowance 150 GB</li>
                                                <li> No dial-up, no waiting, only an instant connection to the Internet. It’s the fast and easy way to watch YouTube, search for directions on Mapquest, and Google search, quickly. Just the speed you need to send emails or quickly download photos.</li>
                                            </ul> 
                                        </li>
                                        <li>
                                            <b>Prime</b>
                                            <ul>
                                                <li>15 Mbps download speed 1 Mbp upload speed</li>
                                                <li> Monthly usage allowance 250 GB</li>
                                                <li> Offers a great speed at a great price for multi-users households. That  means it is simple and easy for kids to play games, adults to pay bills or shop and other family members to surf their favorite sites at the same time </li>
                                            </ul> 
                                        </li>
                                        <li>
                                            <b>Prime Plus</b>
                                            <ul>
                                                <li>30 Mbps download speed 2 Mbps upload speed</li>
                                                <li> Monthly usage allowance 350 GB</li>
                                                <li>Speedway for multiple tasks that require speed and more broadband capacity. It’s the ideal speed for gamers who need to respond fast, and households with multiple users and multiple devices.
                                                </li>
                                            </ul> 
                                        </li>
                                        <li>
                                            <b>Ultra</b>
                                            <ul>
                                                <li>50 Mbps download speed 5 Mbps upload speed</li>
                                                <li>Monthly usage allowance 999 GB</li>
                                                <li>21st Century speed that uses the new and faster DOCSIS - 3.0 modem! It’s ideal for running multiple media streams, reducing lag time, and improving delivery of mega data.</li>
                                            </ul> 
                                        </li>
                                        <li>
                                            <b>Ultra Plus</b>
                                            <ul>
                                                <li>                                                    105 Mbps download speed 10 Mbps upload speed
                                                </li>
                                                <li>                                                    Monthly usage allowance 2000 GB
                                                </li>
                                                <li>                                                    Get on the internet with super speeds that allow you and others in your home to simultaneously use the Internet to download full-length movies or watch streaming HD shows without lag time.
                                                </li>
                                            </ul> 
                                        </li>
                                        <li>
                                            <b>Ultra Plus 3T</b>
                                            <ul>
                                                <li>                                                    105 Mbps download speed 10 Mbps upload speed                                                </li>
                                                <li>                                                    Monthly usage allowance 3000 GB
                                                </li>
                                                <li>The entire household can download up to 100,000 emails 8,000 songs, watch up to 500 one hour TV shows, stream 1,250 SD &amp; 600 HD movies.</li>
                                            </ul> 
                                        </li>
                                    </ul>

                                    <h4><b>Phone</b></h4>
                                    <ul>
                                        <li>One Flat price for local and nationwide calling. For one low monthly rate, you can call across town or across the country and talk as long as you want, whenever you want. The monthly price includes 17 calling features at no extra charge, like Caller ID, Call Waiting</li>
                                        <li>90 Day money-back guarantee: Number one priority is to live up to our promise in providing consistent first-class customer care, superior and reliable products and quality services that our customers can depend on. Customers in good standing who are not 100% satisfied may disconnect during the first 90 days and on request, receive a full refund of monthly service and equipment rental(s) actually paid. Transactional fees such as pay-per-view and directory assistance are additional, and not included in the 90-day money-back guarantee.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/MEDIACOM -->
            
                    
                    <!--TIME WARNER -->
                    <div class="panel">
                        <div class="panel-heading" id="twc"><h3>Time Warner</h3></div>
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a href="#tw_profile" data-toggle="tab">Profile</a></li>
                            <li><a href="#tw_products" data-toggle="tab">Products</a></li>
                            <li><a href="#twc_leapfrog" data-toggle="tab">Leapfrog</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active well" id="tw_profile">
                                <p>Time Warner Cable (TWC), the second largest cable provider, owns and manages advanced, well-clustered cable systems throughout the United States. Time Warner Cable offers cutting edge digital technology, a rich range of home entertainment and information choices for the whole family to enjoy, and superior service that demonstrates customer satisfaction is our number one priority. Time Warner Cable Inc. (NYSE: TWC) is among the largest providers of video, high-speed data and voice services in the United States, connecting more than 15 million customers to entertainment, information and each other.</p>
                                <p>Time Warner Cable serves customers in the following 29 states:<b>Alabama, Arizona, California, Colorado, Hawaii, Idaho, Illinois, Indiana, Kansas, Kentucky, Maine, Massachusetts, Michigan, Missouri, Nebraska, New Hampshire, New Jersey, New Mexico, New York, North Carolina, Ohio, Pennsylvania, South Carolina, Tennessee, Texas, Virginia, Washington, West Virginia and Wisconsin.</b></p>
                            </div>
                            <div class="tab-pane well" id="tw_products">
                                <h2>Time Warner Products</h2>
                                <div class="provider-box">
	<h4>Television</h4>
	<ul class="icon-check">
		<li class="icon-school">
			We do have different television packages to choose from. Are you looking for a basic package or one that offers many channels? Let me go over each package to help you decide which to choose from.
		</li>
		<li class="icon-school">
			First we offer <b>Starter TV</b> starting at [Look at price in Portal] which includes
			<ul>
				<li>
					<span class="qTipPhrase" data-hasqtip="1">30+ Channels</span>, including local news and weather as well as primetime channels like ABC, CBS, NBC, Fox, PBS and public access channels.
					<div class="tooltiptext">
						<table>
							<tbody><tr>
								<td>ABC</td><td>CBS</td><td>CSPAN</td>
							</tr>
							<tr>
								<td>CSPAN 2</td><td>CSPAN 3</td><td>CW</td>
							</tr>
							<tr>
								<td>Fox</td><td>Galavision</td><td>HSN</td>
							</tr>
							<tr>
								<td>NBC</td><td>PBS</td><td>QVC</td>
							</tr>
							<tr>
								<td>SHOP NBC</td><td>TBN</td><td>TBS</td>
							</tr>
							<tr>
								<td>Telemundo</td><td>Univision</td><td></td>
							</tr>
						</tbody></table>
					</div>
				</li>
			</ul>
		</li>
		<li class="icon-school">
			This package does require only 1 receiver in order to get all the channels, your Interactive Guide and On Demand options. The first box is [Look at Price in Portal] and each additional receiver is [Look at Price in Portal]
		</li>
		<li class="icon-docs">
			QUICK LINK:
			<ul>
				<li>
					<a href="http://www.timewarnercable.com/Localization/Corporate.ashx?tid=1&amp;embedded=False" target="_blank">Time Warner Channel Lineup</a>
				</li>
			</ul>
		</li>
		<li class="icon-school">
			We also offer <span style="color:black">Standard TV</span> starting at [Look at price in Portal] which includes:
			<ul>
				<li>
					 	Over <span class="qTipPhrase" data-hasqtip="2">70+ all digital channels</span> including local channels in our Starter TV package as well as 12 of the top 20 highest-rated cable networks such as AMC, Animal Planet, BET, Bravo, CNN, Comedy Central, Cartoon Network, E!, ESPN, Food Network, Fox Sports, FX, Galavision, HGTV, History, Lifetime, MTV, National Geographic, Nickelodeon, Speed, Spike TV, SyFy, TBS, Telemundo, TLC, TWC Deportes, TWC SportsNet, Univision, USA and VH1 just to name the most popular.
						<div class="tooltiptext">
							<table>
								<tbody><tr>
									<td>ABC</td><td>ABC Family</td><td>AMC</td>
								</tr>
								<tr>
									<td>Animal Planet</td><td>Azteca</td><td>BBC America</td>
								</tr>
								<tr>
									<td>BET</td><td>Bravo</td><td>Cartoon Network</td>
								</tr>
								<tr>
									<td>CBS</td><td>CNBC</td><td>CNN</td>
								</tr>
								<tr>
									<td>Comedy Central</td><td>CSPAN</td><td>CSPAN 2</td>
								</tr>
								<tr>
									<td>CSPAN 3</td><td>CW</td><td>Discovery</td>
								</tr>
								<tr>
									<td>Disney</td><td>E!</td><td>ESPN</td>
								</tr>
								<tr>
									<td>ESPN 2</td><td>Food Network</td><td>Fox</td>
								</tr>
								<tr>
									<td>Fox Business News</td><td>Fox Sports</td><td>FX</td>
								</tr>
								<tr>
									<td>Galavision</td><td>Golf</td><td>HGTV</td>
								</tr>
								<tr>
									<td>History</td><td>HLN</td><td>HSN</td>
								</tr>
								<tr>
									<td>Lifetime</td><td>MSNBC</td><td>MTV</td>
								</tr>
								<tr>
									<td>National Geographic</td><td>NBC</td><td>Nickelodeon</td>
								</tr>
								<tr>
									<td>Oxygen</td><td>Palladia</td><td>PBS</td>
								</tr>
								<tr>
									<td>QVC</td><td>Speed</td><td>Spike TV</td>
								</tr>
								<tr>
									<td>SyFy</td><td>TBS</td><td>Telemundo</td>
								</tr>
								<tr>
									<td>The Weather Channel</td><td>TLC</td><td>TNT</td>
								</tr>
								<tr>
									<td>tru TV</td><td>TV Guide Network</td><td>TV Land</td>
								</tr>
								<tr>
									<td>TWC Deportes</td><td>TWC SportsNet</td><td>Unvision</td>
								</tr>
								<tr>
									<td>USA</td><td>Velocity</td><td>VH1</td>
								</tr>
							</tbody></table>
						</div>
				</li>
				<li>
					This package also has enhanced features including <span class="qTipPhrase" data-hasqtip="3">Start Over</span>
					<div class="tooltiptext">
						Restart a show that is already in progress
					</div>
					and <span class="qTipPhrase" data-hasqtip="4">Look Back</span>
					<div class="tooltiptext">
						Watch primetime shows up to 72 hours after they have aired
					</div>
					and an Interactive channel Guide, more than 40 Music Choice channels, and a variety of HDTV channels and free local <span class="qTipPhrase" data-hasqtip="5">HD</span>,
					<div class="tooltiptext">
						High Definition broadcast provides the sharpest picture quality available to television
					</div>
					Movies On Demand and <span class="qTipPhrase" data-hasqtip="6">Free On Demand</span>.
					<div class="tooltiptext">
						Watch many of the best shows free of charge, the day after they air
					</div>
				</li>
			</ul>
		</li>
		<li class="icon-school">
			How many TV’s are you looking to set up?
		</li>
		<li class="icon-school">
			In order to get all the channels, an interactive guide and On Demand options, each TV would need a receiver. Each receiver is an additional [Look at Price in Portal] per month. So your monthly rate would be $_____ plus tax
		</li>
		<li class="icon-check">
			ACTION: Add the price up for the customer including the equipment
		</li>
		<li class="icon-school">
			Lastly our <b>Preferred TV</b> starting at [Look at Price in Portal] which includes:
			<ul>
				<li>
				 	Everything in our Standard TV package plus over 200 all digital channels which includes either our <span class="qTipPhrase" data-hasqtip="7">Variety Tier</span>
				 	<div class="tooltiptext">
						<table>
							<tbody><tr>
								<td>Hallmark Channel</td><td>Fuse</td><td>Centric</td>
							</tr>
							<tr>
								<td>TCM</td><td>cloo</td><td>nuvoTV</td>
							</tr>
							<tr>
								<td>Logo</td><td>LMN</td><td>Discovery Fit &amp; Health</td>
							</tr>
							<tr>
								<td>Nick Jr</td><td>Disney XD</td><td>Destination America</td>
							</tr>
							<tr>
								<td>Investigation Discovery</td><td>Zeal 1</td><td>CBS Sports Network</td>
							</tr>
							<tr>
								<td>Fox Soccer Channel</td><td>MLB Network</td><td>Sundance</td>
							</tr>
							<tr>
								<td>ESPN Deportes</td><td>mun2</td><td>Disney Junior HD</td>
							</tr>
							<tr>
								<td>OWN HD</td><td>NFL Network HD</td><td>Fox Soccer Channel HD</td>
							</tr>
							<tr>
								<td>Animal Planet HD</td><td>Science HD</td><td>NBC Sports</td>
							</tr>
							<tr>
								<td>Network HD</td><td>TCM HD</td><td>Fuse HD</td>
							</tr>
							<tr>
								<td>MBCD (Korean)</td><td>CMT</td><td>Style</td>
							</tr>
							<tr>
								<td>Hub</td><td>MTV 2</td><td>Sundance</td>
							</tr>
							<tr>
								<td>Nat Geo WILD</td><td>MeTV</td><td>Oxygen</td>
							</tr>
							<tr>
								<td>Gospel Music Channel</td><td>Aspire</td><td>Nicktoons</td>
							</tr>
							<tr>
								<td>CNBC World</td><td>NBA TV</td><td>Reelz Channel</td>
							</tr>
							<tr>
								<td>The Military Channel</td><td>ESPN News</td><td>Travel Channel</td>
							</tr>
							<tr>
								<td>VH1 Classic</td><td>Great American Country</td><td>Fox Movie Channel</td>
							</tr>
							<tr>
								<td>Tr3s</td><td>G4</td><td>WE</td>
							</tr>
							<tr>
								<td>TV One</td><td>TeenNick</td><td>BBC World News</td>
							</tr>
							<tr>
								<td>Chiller</td><td></td><td></td>
							</tr>
						</tbody></table>
					</div>
				 	 or <span class="qTipPhrase" data-hasqtip="8">Choice Tier</span>
				 	<div class="tooltiptext">
						<table>
							<tbody><tr>
								<td>Youtoo</td><td>VH1 Soul</td><td>TVK1</td>
							</tr>
							<tr>
								<td>The Word Network</td><td>Ovation TV</td><td>PBS Kids Sprouts</td>
							</tr>
							<tr>
								<td>Bloomberg Television</td><td>CSPAN 3</td><td>H2 HD</td>
							</tr>
							<tr>
								<td>TVK1 (Korean)</td><td>The California Channel</td><td>SOAPnet</td>
							</tr>
							<tr>
								<td>Boomerang</td><td>INSP</td><td>MTV Hits</td>
							</tr>
							<tr>
								<td>CCTV News</td><td>KBS</td><td>The Africa Channel</td>
							</tr>
							<tr>
								<td>BIO HD</td><td>DIY</td><td>Cooking Channel</td>
							</tr>
							<tr>
								<td>EWTN</td><td>MTV Jams</td><td>KBS World</td>
							</tr>
							<tr>
								<td>CCTV News (Madarin)</td><td>NASA TV</td><td>CSPAN 2</td>
							</tr>
							<tr>
								<td>Jewish Life TV</td><td>MNet</td><td>GSN</td>
							</tr>
						</tbody></table>
					</div>
				</li>
				<li class="icon-docs">
					QUICK LINK:
					<ul>
						<li>
							<a href="http://www.timewarnercable.com/Localization/Corporate.ashx?tid=1&amp;embedded=False" target="_blank">Time Warner Channel Lineup</a>
						</li>
					</ul>
				</li>
				<li>
				 	In order to get all the channels available in this package, the Interactive Guide, and On Demand options, this package requires each television to have a receiver. Each receiver is an additional [Look at Price in Portal] per month. So your monthly rate would be $_____ plus tax
				</li>
				<li>
				 	You do have the option to set up 1 or more TV’s with a receiver and set up additional TV’s you have without a receiver free of charge through an analog output or a TV without a receiver. A TV without a receiver would just give you basic channels only; but this is an option if you don’t want to set up all your TV’s with a receiver but still have access to basic channels.
				</li>
			</ul>
		</li>
		<li class="icon-check">
			ACTION: Add the price up for the customer including the equipment
		</li>
		<li class="icon-school">
			We also offer <span class="qTipPhrase" data-hasqtip="9">DVR Service</span>
			<div class="tooltiptext">
				Full DVR service which will allow you to pause and record live TV and hold up to month’s worth of programming. You can record up to 2 shows at once while watching a 3rd (recorded) show. DVR is an additional $12.95 per TV or you can get WH-DVR for $22.95/mo and have up to 4 TV’s with receivers DVR capable	
			</div>
			and premium movie bundles; would you be interested in these additional features?
		</li>
		<li class="icon-docs">
			OTHER CHANNEL LINEUPS:
			<ul>
				<li>
					<span class="qTipPhrase" data-hasqtip="10">Espanol Tier</span>
					<div class="tooltiptext">
						<table>
							<tbody><tr>
								<td>Galavision</td><td>Mun2</td><td>Fox Deportes</td>
							</tr>
							<tr>
								<td>Mexico 22</td><td>Canal Sur</td><td>Discovery en Espanol</td>
							</tr>
							<tr>
								<td>GolTV</td><td>Tr3s</td><td>La Familia Cosmovision</td>
							</tr>
							<tr>
								<td>Boomerang (SAP)</td><td>CBTV Michoacan</td><td>Sur</td>
							</tr>
							<tr>
								<td>Cine Latino</td><td>Video</td><td>Rola</td>
							</tr>
							<tr>
								<td>MTV Tr3s</td><td>ESPN Deportes</td><td>CNN en Espanol</td>
							</tr>
							<tr>
								<td>History en Espanol</td><td>nuvo TV</td><td>Sorpresa</td>
							</tr>
							<tr>
								<td>Cartoon Network (SAP)</td><td>Once Mexico</td><td>De Pelicula</td>
							</tr>
							<tr>
								<td>Infinito</td><td>Bandamax</td><td>Utilisima</td>
							</tr>
							<tr>
								<td>Disney XD (SAP)</td><td>EWTN Espanol</td><td>HTV</td>
							</tr>
							<tr>
								<td>TVE Internacional</td><td>beIN Sport en Espanol HD</td><td></td>
							</tr>
						</tbody></table>
					</div>
				</li>
				<li>
					<span class="qTipPhrase" data-hasqtip="11">HD Channels</span>
					<div class="tooltiptext">
						<table>
							<tbody><tr>
								<td>339	The Hub HD </td><td>340	Disney Junior HD </td><td>341	TV Land HD </td>
							</tr>
							<tr>
								<td>342	Nat Geo WILD HD </td><td>345	MTV2 HD </td><td>346	OWN HD </td>
							</tr>
							<tr>
								<td>347	truTV HD </td><td>348	The Military Channel HD </td><td>349	Encore HD </td>
							</tr>
							<tr>
								<td>350	Sundance Channel HD </td><td>351	Fox Movie Channel HD </td><td>352	FEARnet HD </td>
							</tr>
							<tr>
								<td>355	NFL Network HD </td><td>356	Red Zone HD </td><td>369	Pac-12 National HD </td>
							</tr>
							<tr>
								<td>370	Pac-12 LA HD </td><td>378	beIN SPORT HD </td><td>379	beIN SPORT en Espanol HD </td>
							</tr>
							<tr>
								<td>380	Fox Deportes HD </td><td>389	Azteca America HD (KAZA) </td><td>390	MundoFOX HD (KWHY) </td>
							</tr>
							<tr>
								<td>391	MLB Network Strike Zone HD </td><td>392	ESPN Goal Line/Buzzer Beater </td><td>393	ESPN Deportes HD </td>
							</tr>
							<tr>
								<td>394	Fox Soccer Channel HD </td><td>395	FOX Soccer Plus HD </td><td>396	Gol TV HD </td>
							</tr>
							<tr>
								<td>397	Galavision HD </td><td>398	HBO Latino HD </td><td>399	KFTR HD (UniMas) </td>
							</tr>
							<tr>
								<td>400	KMEX HD (Univision) </td><td>401	KVEA HD (Telemundo) </td><td>402	KCBS HD (CBS) </td>
							</tr>
							<tr>
								<td>403	Time Warner Cable SportsNet HD </td><td>404	KNBC HD (NBC) </td><td>405	KTLA HD (CW) </td>
							</tr>
							<tr>
								<td>406	KDOC HD (Ind) </td><td>407	KABC HD (ABC) </td><td>408	KOCE HD (PBS) </td>
							</tr>
							<tr>
								<td>409	KCAL HD (Ind) </td><td>410	KPXN HD (ION) </td><td>411	KTTV HD (FOX) </td>
							</tr>
							<tr>
								<td>412	KCET HD (IND) </td><td>413	KCOP HD (myNetworkTV) </td><td>414	Palladia HD </td>
							</tr>
							<tr>
								<td>415	TNT HD </td><td>416	Velocity </td><td>417	TBS in HD </td>
							</tr>
							<tr>
								<td>418	Discovery Channel HD </td><td>419	Universal HD </td><td>420	Smithsonian Channel HD </td>
							</tr>
							<tr>
								<td>421	Crime &amp; Investigation Network HD </td><td>422	MGM HD </td><td>423	The Golf Channel HD </td>
							</tr>
							<tr>
								<td>424	ESPN HD </td><td>425	ESPN2 HD </td><td>426	ESPN News HD </td>
							</tr>
							<tr>
								<td>427	HBO HD </td><td>428	Showtime HD </td><td>429	Starz HD </td>
							</tr>
							<tr>
								<td>430	Cinemax HD </td><td>432	CNN HD </td><td>433	HGTV HD </td>
							</tr>
							<tr>
								<td>434	Food Network HD </td><td>435	Disney Channel HD </td><td>436	ABC Family HD </td>
							</tr>
							<tr>
								<td>437	TLC HD </td><td>438	A&amp;E HD </td><td>439	History HD </td>
							</tr>
							<tr>
								<td>440	National Geographic HD </td><td>441	USA HD </td><td>442	Bravo HD </td>
							</tr>
							<tr>
								<td>443	SyFy HD </td><td>444	CNBC HD </td><td>446	MSNBC HD </td>
							</tr>
							<tr>
								<td>447	HLN HD </td><td>448	BBC America HD </td><td>449	Investigation Discovery HD </td>
							</tr>
							<tr>
								<td>450	Lifetime HD </td><td>451	Animal Planet HD </td><td>452	Travel Channel HD </td>
							</tr>
							<tr>
								<td>453	Destination America HD </td><td>454	The Weather Channel HD </td><td>455	H2 HD </td>
							</tr>
							<tr>
								<td>456	FX HD </td><td>457	BIO HD </td><td>458	WGN America HD </td>
							</tr>
							<tr>
								<td>459	Nick HD </td><td>460	Science HD </td><td>461	Disney XD HD </td>
							</tr>
							<tr>
								<td>462	Cartoon Network HD </td><td>463	FOX Sports West HD </td><td>464	PRIME TICKET HD </td>
							</tr>
							<tr>
								<td>465	Fox News HD </td><td>466	Fox Business Network HD </td><td>467	ESPNU HD </td>
							</tr>
							<tr>
								<td>468	SPEED HD </td><td>469	NBC Sports Network HD </td><td>470	MLB Network HD </td>
							</tr>
							<tr>
								<td>471	NHL Network HD </td><td>472	NBA TV HD </td><td>473	The Tennis Channel HD </td>
							</tr>
							<tr>
								<td>474	CBS Sports Network HD </td><td>475	LMN HD </td><td>476	Hallmark Movie Channel HD </td>
							</tr>
							<tr>
								<td>477	Hallmark Channel HD </td><td>478	TCM HD </td><td>479	AMC HD </td>
							</tr>
							<tr>
								<td>480	Independent Film Channel </td><td>481	Time Warner Cable Deportes HD </td><td>482	Cinemax East HD </td>
							</tr>
							<tr>
								<td>483	Showtime East HD </td><td>484	The Movie Channel HD </td><td>485	Starz East HD </td>
							</tr>
							<tr>
								<td>487	E! HD </td><td>488	Style HD </td><td>489	HSN HD </td>
							</tr>
							<tr>
								<td>490	QVC HD </td><td>491	VH1 HD </td><td>492	CMT HD </td>
							</tr>
							<tr>
								<td>493	MTV HD </td><td>494	Fuse HD </td><td>495	G4 HD </td>
							</tr>
							<tr>
								<td>496	Spike TV HD </td><td>497	Comedy Central HD </td><td>498	TV One HD </td>
							</tr>
							<tr>
								<td>500	BET HD </td><td>502	HBO HD </td><td>521	HBO East HD </td>
							</tr>
							<tr>
								<td>522	Cinemax HD </td><td>552	Showtime HD </td><td>572	Starz HD </td>
							</tr>
							<tr>
								<td>606	TV Japan HD </td><td>700	3DTV Special Events </td><td>705	ESPN 3D </td>
							</tr>
							<tr>
								<td>731 - 733	IN DEMAND Sports HD </td><td>797	INDEMAND PPV Events HD </td><td>952	Time Warner Cable Deportes HD </td>
							</tr>
						</tbody></table>
					</div>
				</li>
				<li>
					<span class="qTipPhrase" data-hasqtip="12">Premiums</span>
					<div class="tooltiptext">
						<table>
							<tbody><tr>
								<td colspan="3" class="channelHeading">HBO 15+ Channels - $15.00 per month</td>
							</tr>
							<tr>
								<td>HBO On Demand</td><td>HBO HD</td><td>HBO (East)</td>
							</tr>
							<tr>
								<td>HBO Signature</td><td>HBO Zone</td><td>HBO Go</td>
							</tr>
							<tr>
								<td>HBO 2</td><td>HBO Signature (East)</td><td>HBO Family</td>
							</tr>
							<tr>
								<td>HBO Latino HD</td><td>HBO</td><td>HBO 2(East)</td>
							</tr>
							<tr>
								<td>HBO Comedy</td><td>HBO (East) HD</td><td></td>
							</tr>
							<tr>
								<td colspan="3" class="channelHeading">STRAZ 9 Channels - $12.99 per month</td>
							</tr>
							<tr>
								<td>Starz HD</td><td>Starz</td><td>Starz Edge</td>
							</tr>
							<tr>
								<td>Starz (East) HD</td><td>Starz (East)</td><td>Starz in Black</td>
							</tr>
							<tr>
								<td>Starz Cinema</td><td>Starz Kids &amp; Family</td><td></td>
							</tr>
							<tr>
								<td colspan="3" class="channelHeading">CINEMAX 12+ Channels - $12.99 per month</td>
							</tr>
							<tr>
								<td>Cinemax on Demand</td><td>Cinemax (East) HD</td><td>Cinemax (East)</td>
							</tr>
							<tr>
								<td>ActionMax</td><td>ThrillerMax</td><td>Max Go</td>
							</tr>
							<tr>
								<td>Cinemax HD</td><td>MoreMax</td><td>@MAX</td>
							</tr>
							<tr>
								<td>WMAX (East)</td><td>Cinemax HD</td><td>Cinemax</td>
							</tr>
							<tr>
								<td>MoreMax (East)</td><td>5StarMax</td><td></td>
							</tr>
							<tr>
								<td colspan="3" class="channelHeading">SHOWTIME 15+ Channels - $12.99 per month</td>
							</tr>
							<tr>
								<td>Showtime On Demand</td><td>Showtime East HD</td><td>Showtime (East)</td>
							</tr>
							<tr>
								<td>Showtime Too</td><td>The Movie Channel HD</td><td>TMC Xtra</td>
							</tr>
							<tr>
								<td>The Movie Channel</td><td>Showtime HD</td><td>Showtime Beyond</td>
							</tr>
							<tr>
								<td>Showtime Showcase</td><td>Showtime Extreme</td><td>The Movie Channel (East)</td>
							</tr>
							<tr>
								<td colspan="3" class="channelHeading">FORGIAN LANGUAGE TV CHANNELS</td>
							</tr>
							<tr>
								<td colspan="3" class="channelHeading">JAPAN</td>
							</tr>
							<tr>
								<td>TV Japan HD</td><td>TV Japan</td><td></td>
							</tr>
							<tr>
								<td colspan="3" class="channelHeading">Vietnamese</td>
							</tr>
							<tr>
								<td>SBTN </td><td></td><td></td>
							</tr>
							<tr>
								<td colspan="3" class="channelHeading">French</td>
							</tr>
							<tr>
								<td>TV5Monde</td><td></td><td></td>
							</tr>
							<tr>
								<td colspan="3" class="channelHeading">Italian</td>
							</tr>
							<tr>
								<td>RAI International</td><td></td><td></td>
							</tr>
							<tr>
								<td colspan="3" class="channelHeading">Arabic</td>
							</tr>
							<tr>
								<td>ART</td><td></td><td></td>
							</tr>
							<tr>
								<td colspan="3" class="channelHeading">Farsi</td>
							</tr>
							<tr>
								<td>Tapesh</td><td></td><td></td>
							</tr>
							<tr>
								<td colspan="3" class="channelHeading">Russian</td>
							</tr>
							<tr>
								<td>RTVi</td><td>Russian Kino</td><td>C1R</td>
							</tr>
							<tr>
								<td>RTN</td><td></td><td></td>
							</tr>
							<tr>
								<td colspan="3" class="channelHeading">Cantonese</td>
							</tr>
							<tr>
								<td>Jade Channel</td><td></td><td></td>
							</tr>
							<tr>
								<td colspan="3" class="channelHeading">Mandarin</td>
							</tr>
							<tr>
								<td>Phoenix InfoNews</td><td>Phoenix North American</td><td>ETTV News</td>
							</tr>
							<tr>
								<td>ETTV Drama</td><td>ETTV YOYO</td><td>ETTV China</td>
							</tr>
							<tr>
								<td>ETTV Super</td><td>CTI Zhong Tian Channel</td><td>CCTV-4</td>
							</tr>
							<tr>
								<td>CCTV NEWS</td><td></td><td></td>
							</tr>
							<tr>
								<td colspan="3" class="channelHeading">Korean</td>
							</tr>
							<tr>
								<td>MBC</td><td>MBCD</td><td>SBS</td>
							</tr>
							<tr>
								<td>TVK1</td><td>TVK2</td><td>KBS</td>
							</tr>
							<tr>
								<td colspan="3" class="channelHeading">South Asian</td>
							</tr>
							<tr>
								<td>TV Asia</td><td>Zee TV</td><td>SET Asia</td>
							</tr>
							<tr>
								<td>Sahara Filmy</td><td></td><td></td>
							</tr>
							<tr>
								<td colspan="3" class="channelHeading">Tagalog/Filipino</td>
							</tr>
							<tr>
								<td>TFC</td><td>GMA Pinoy</td><td>GMA Life TV</td>
							</tr>
							<tr>
								<td>DZBB Radio-Audio Only</td><td>DWLS Radio-Audio Only</td><td></td>
							</tr>
						</tbody></table>
					</div>
				</li>
				<li>
					<span class="qTipPhrase" data-hasqtip="13">TWC Movie Pass</span>
					<div class="tooltiptext">
						<table>
							<tbody><tr>
								<td>Sundance</td><td>FEARnet</td><td>Encore Drama</td>
							</tr>
							<tr>
								<td>Encore Family</td><td>Turner Classic Movies</td><td>Flix</td>
							</tr>
							<tr>
								<td>Encore HD</td><td>Fox Movie Channel</td><td>Encore</td>
							</tr>
							<tr>
								<td>Encore Love</td><td>IFC</td><td>Hallmark Channel HD</td>
							</tr>
							<tr>
								<td>Encore (East)</td><td>Encore Suspense</td><td>Encore Westerns</td>
							</tr>
						</tbody></table>
					</div>
				</li>
				<li>
					<span class="qTipPhrase" data-hasqtip="14">TWC Sports Pass</span>
					<div class="tooltiptext">
						<table>
							<tbody><tr>
								<td>Pac 12 National</td><td>FCS Central</td><td>NBA TV</td>
							</tr>
							<tr>
								<td>Outdoor Channel</td><td>Fuel TV</td><td>NFL Network HD</td>
							</tr>
							<tr>
								<td>beIN SPORTS HD</td><td>ESPN Classic</td><td>FCS Atlantic</td>
							</tr>
							<tr>
								<td>Fox Soccer Plus</td><td>Fox Soccer Channel</td><td>NHL Network</td>
							</tr>
							<tr>
								<td>Red Zone HD</td><td>MLB Network Strike Zone HD</td><td>FCS Pacific</td>
							</tr>
							<tr>
								<td>CBS Sports Network</td><td>The Tennis Channel</td><td>TVG</td>
							</tr>
							<tr>
								<td>ESPN Goal Line/Buzzer Beater</td><td>NBA TV HD</td><td>Fox College Sports Central</td>
							</tr>
							<tr>
								<td>Fox College Sports Atlantic</td><td>The Tennis Channel HD</td><td>Fox Sports Pacific</td>
							</tr>
						</tbody></table>
					</div>
				</li>
				<li>
					<span class="qTipPhrase" data-hasqtip="15">HD PASS</span>
					<div class="tooltiptext">
						<table>
							<tbody><tr>
								<td colspan="3" class="channelHeading">6 Channels - $9.95 per month</td>
							</tr>
							<tr>
								<td>MGM HD</td><td>Smithsonian Channel</td><td>RFD-TV</td>
							</tr>
							<tr>
								<td>MavTV</td><td>Universal HD</td><td>Hallmark Movie Channel</td>
							</tr>
						</tbody></table>
					</div>
				</li>
			</ul>
		</li>
		<li class="icon-school">
			Which television package are you interested in?
		</li>
		<li class="icon-check">
			ACTION: For single television order, proceed Close and Convert link and inform the customer of an installation fee if one applies.
		</li>
		<li class="icon-check">
			ACTION: Inform the customer of a risk assessment which is required to start new service.
		</li>
		<li class="icon-docs">
			QUICK LINK:
			<ul>
				<li>
					<a href="#closeandconvert" onclick="$('#fancybox-close').click()">Ready to close the sale and set up an order, click here for (Close and Convert Script)</a>
				</li>
			</ul>
		</li>
		<li class="icon-check">
			ACTION: For double or triple play continue reviewing other services
		</li>
	</ul>
	<a name="internet-sale"></a>
	<h4>Internet</h4>
	<ul class="icon-check">

		<li class="icon-school">
			We do have different speeds to choose from, what types of things do you usually use the internet for?
		</li>
		<li class="icon-school">
			Our most popular speed is our Standard Internet starting at [Look at Price in Portal]; it’s 15 megabits download speed per second which is great for video streaming, online games, Facebook, Netflix and general online browsing and email.
		</li>
		<li class="icon-school">
			Our Basic Internet starting at [Look at Price in Portal]; it’s 3 megabits download speed per second, which is good for very light video streaming, Facebook, browsing the web, and emailing.
		</li>
		<li class="icon-school">
			Our most affordable speed is our Lite Internet starting at [Look at Price in Portal]. The download speed is 1 megabit per second which is really only good for lite browsing and emailing
		</li>
		<li class="icon-school">
			We do also have faster speeds like our Turbo Internet starting at [Look at Price in Portal] which is 20 megabits download speed per second, great for gaming and recommended if you have more than one user and device in the household.
		</li>
		<li class="icon-school">
			Our Extreme Internet starting at [Look at Price in Portal] is 30 megabits download speed per second and is excellent for homes with multiple users and devices, especially if you upload large files, work from home, or have any gamers in the home.
		</li>
		<li class="icon-school">
			Finally our Ultimate Internet starting at [Look at Price in Portal] which is 50 megabits download speed per second and is recommended for the busiest households where multiple users and devices are being used simultaneously.
		</li>
		<li class="icon-school">
			All of our Internet services include FREE MacAfee anti-virus, FREE spyware protection and FREE Parental Controls. Our Ultimate and Extreme comes with free WIFI with a one-time activation fee of $19.99.
		</li>
		<li class="icon-school">
			Which speed would you like to get?
		</li>
		<li class="icon-school">
			Do you have your own modem and router or would you need to lease the equipment?
		</li>
		<li class="icon-school">
			You can purchase your own equipment; if you go to your local electronic store or even the electronics department at a Target, Walmart, or Best Buy, the price ranges between $30-$50 depending on the brand.
		</li>
		<li class="icon-check">
			ACTION: Notate requests and equipment in the Quick Notes in Salerity
		</li>
	</ul>
	<a name="phone-sale"></a>
	<h4>Phone</h4>
	<ul class="icon-check">
		<li class="icon-school">
			Our phone service comes with Unlimited local and long distance calling anywhere in the US, Canada, and other US territories. It also has Call Waiting, Caller ID, Call Forwarding, 3-Way Calling, and many more features. You can keep your old phone number or get a new one.
		</li>
	</ul>
	<a name="phone-sale"></a>
	<h4>Installation</h4>
	<ul class="icon-check">
		<li class="icon-school">
			I don’t know what date is available until I actually set up an order. It really depends on the technician’s schedule in your area
		</li>
		<li class="icon-check">
			ACTION: Check the Portal to see what the installation fee is for their area
		</li>
		<li class="icon-check">
			ACTION: Total up all costs for service the customer wants and give them an overall total including equipment cost and any additional fees.
		</li>
		<li class="icon-check">
			ACTION: If the customer commits to ordering new service, click on the green <b>Convert</b> button and fill in the order notes while still on the call with the customer.
		</li>
		<li class="icon-check">
			ACTION: When you are done giving all the pricing, proceed to Close and Convert link.
		</li>
	</ul>
	<a name="phone-sale"></a>
	<h4>Risk Assessment</h4>
	<ul class="icon-check">
		<li class="icon-school">
			We do also run a risk assessment for new customers.
		</li>
		<li class="icon-school">
			This is a soft credit check and mainly checks to see if you’ve ever had Time Warner service in the past to make sure there’s no back balance due.
		</li>
		<li class="icon-school">
			In order to run the risk assessment, I will need to gather some additional information like your SSN or DL# as well as your DOB.
		</li>
		<li class="icon-school">
			Which would you like to provide, your SSN or DL#?
		</li>
		<li class="icon-check">
			ACTION: Notate the SSN or DL# in the Order Notes in your <b>Pending</b> Salerity order
		</li>
		<li class="icon-check">
			ACTION: If <b>Automatic</b> Order, enter risk assessment information in Portal and proceed to next page to set up pre-payment with Debit/Credit Card and setting up an installation date and time.
		</li>
		<li class="icon-check">
			ACTION: If <b>Manual</b> Order, enter risk assessment information in Portal and proceed to next page where you will select <b>Pay By Phone</b> option where you will then need to call into OE to process the order.
		</li>
	</ul>
	<a name="phone-sale"></a>
	<h4>Manual Order</h4>
	<ul class="icon-check">
		<li class="icon-school">
			I do need to call into my Order Entry department to process your order. It may take 15-20 minutes to set up. Is it ok if I give you a callback with your order details and installation date and time?
		</li>
		<li class="icon-school">
			For your installation date and time, are you looking for the soonest available date or a specific date?
		</li>
		<li class="icon-school">
			Do you prefer morning or afternoon time?
		</li>
		<li class="icon-check">
			ACTION: Take note of specific date and time they wish to have
		</li>
		<li class="icon-school">
			Ok great, I do have all your order details, so you will be receiving a call in about 15-20 minutes. Thank you for choosing Time Warner and we will be speaking with you soon!
		</li>
	</ul>
	<a name="phone-sale"></a>
	<h4>Offer Home Security</h4>
	<ul class="icon-check">
		<li class="icon-check">
			ACTION: Customer must have Standard Internet or higher and be a homeowner.
		</li>
		<li class="icon-school">
			Hello may I speak with [Lead’s Name]? This is [Your Name] calling back about Time Warner. I was about to set up your order and just wanted to follow up with you to go over the order details and your installation date and time. You ordered [Go over services ordered], the total due at the time of installation is [COD+Deposit if applies]. The soonest date available for installation will be [Date and Time], will that be ok?
		</li>
		<li class="icon-school">
			We do also offer Home Security, would you be interested in hearing more information today?
		</li>
	</ul>
</div>
                            </div>
                            <div class="tab-pane well" id="twc_leapfrog">
                                <p>Leapfrog Independent Retailer Ordering Site User Guide with Sales Automation.</p>
                                <span class="glyphicon glyphicon-new-window"></span><a href="http://salerity.com/manager/private/sales-script/guides/leapfrog_guide.pdf">   Leapfrog User Guide</a>
                            </div>
                        </div>
                    </div>
                    <!--/TIME WARNER -->
            
                </div>
            </div>
            <!--/row-->

            <hr>


        </div>
        <!--/col-span-9-->
    </div>
</div>
<!-- /Main -->

<footer class="text-center"><strong>Powered by Service Radius</strong></a></footer>
<div class="modal" id="training" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" style="z-index:9999">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Training Manuals</h4>
            </div>
            <div class="modal-body">
                <a href="http://salerity.com/manager/private/sales-script/guides/Charter_Portal_12-17-13.pdf">Charter Portal</a><br>  
                <a href="http://salerity.com/manager/private/sales-script/guides/leapfrog_guide.pdf">Leapfrog Time Warner Guide</a><br>
                <a href="http://salerity.com/manager/private/sales-script/guides/ACCSTrainingManual.pdf">Service Radius Training Manual</a>                         
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn">Close</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dalog -->
</div>

</div>
<!-- /.modal -->
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="http://arrow.scrolltotop.com/arrow86.js"></script>
        <noscript>Not seeing a <a href="http://www.scrolltotop.com/">Scroll to Top Button</a>? Go to our FAQ page for more info.</noscript>

	</body>
</html>