<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Cheat Sheet & Script</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/styles.css" rel="stylesheet">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
	</head>
	<body>
<!-- header -->
<div id="top-nav" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="images/ucc.png"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">     
                <li><a href="/"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;&nbsp;&nbsp;Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="/providers"><i class="glyphicon glyphicon-asterisk"></i>&nbsp;&nbsp;&nbsp;&nbsp;Providers <span class="caret"></span></a>
                    <ul id="g-account-menu" class="dropdown-menu" role="menu">
                        <li><a href="/providers#brighthouse">Bright House</a></li>
                        <li><a href="/providers#charter">Charter</a></li>
                        <li><a href="/providers#cox">Cox</a></li>
                        <li><a href="/providers#directv">DIRECTV</a></li>
                        <li><a href="/providers#mediacom">Mediacom</a></li>
                        <li><a href="/providers#twc">Time Warner</a></li>
                    </ul>
                </li>
                <li><a title="Training" data-toggle="modal" href="#training"><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;&nbsp;&nbsp;Manuals</a></li>                
            </ul>
        </div>
    </div>
    <!-- /container -->
</div>
<!-- /Header -->
        
        <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav affix">
             <ul class="nav nav-stacked">
                <li class="nav-header"><a href="#cb_modal" data-toggle="modal"><i class="glyphicon glyphicon-earphone"></i>&nbsp;&nbsp;Call Back Numbers&nbsp;&nbsp;</a></li>
                <li class="nav-header"><a href="#links_modal" data-toggle="modal"><i class="glyphicon glyphicon-link"></i>&nbsp;&nbsp;Helpful Links&nbsp;&nbsp;</a></li>
                <li class="nav-header"><a href="#entry_modal" data-toggle="modal"><i class="glyphicon glyphicon-edit"></i>&nbsp;&nbsp;Order Entry&nbsp;&nbsp;</a></li>    
                <li class="nav-header"><a href="#rep_modal" data-toggle="modal"><i class="glyphicon glyphicon-star"></i>&nbsp;&nbsp;Rep ID&nbsp;&nbsp;</a></li>     
                <li class="nav-header"><a href="#service_modal" data-toggle="modal"><i class="glyphicon glyphicon-flag"></i>&nbsp;&nbsp;Serviceability&nbsp;&nbsp;</a></li>    
                <li class="nav-header"><a href="#cs_modal" data-toggle="modal"><i class="glyphicon glyphicon-headphones"></i>&nbsp;&nbsp;Customer Service Numbers&nbsp;&nbsp;</a></li>        
            </ul>
            <!-- SCRIPT SHORTCUTS -->
            <ul class="nav nav-stacked">
                    <h3 class="title nostyle2"  id="starthere"> Script Shortcuts</h3>
							<div class="one-third">
                                <strong class="sub">Start Here</strong>
                                <ul>
                                     <li>
                                        <a href="#legend" data-toggle="modal">Legend</a>
                                    </li>
                                    <li>
                                        <a href="#start">Begin</a>
                                    </li>
                                   
                                </ul>
								<strong class="sub">Sales/New Service</strong>
								<ul>
									<li>
										<a href="#collect-info" style="padding-left: 0px;">Collect Information & Serviceability</a>
									</li>
                                </ul>
                                <strong class="sub">Close and Convert</strong>
                                <ul>
									<li>
										<a href="#install" style="padding-left: 0px;">Installation Charge</a>
									</li>
									<li>
										<a href="#bill-review" style="padding-left: 0px;">Billing Review</a>
									</li>
									<li>
										<a href="#process-order">Process Order</a>
									</li>
									<li>
										<a href="#final-review" style="padding-left: 0px;">Final Order Review</a>
									</li>
								</ul>
								<strong class="sub">Voicemails</strong>
								<ul>
									<li>
										<a href="#follow-up-message" style="padding-left: 0px;">Follow Up Message</a>
									</li>
                                    <li>
										<a href="#missed-call" style="padding-left: 0px;">Missed Call Message</a>
									</li>
                                    <li>
										<a href="#web-lead" style="padding-left: 0px;">Web Lead Message</a>
									</li>
									<li>
										<a href="#final-order-review-message" style="padding-left: 0px;">Final Order Review Message</a>
									</li>
								</ul>
                                <strong class="sub">Follow Up Messages</strong>
								<ul>
									<li>
										<a href="#missed-call-fu" style="padding-left: 0px;">Missed Call Follow Up</a>
									</li>
                                    <li>
										<a href="#web-lead-fu" style="padding-left: 0px;">Web Lead Follow Up</a>
									</li>
								</ul>
                                   <strong class="sub">Follow Up Procedures</strong>
								<ul>
									<li>
										<a href="#item1-fup" style="padding-left: 0px;">NEEDS ATTN</a>
									</li>
                                    <li>
										<a href="#item2-fup" style="padding-left: 0px;">NEEDS ATTN</a>
									</li>
								</ul>
								<strong class="sub">Sales Issues</strong>
								<ul>
									<li>
										<a href="#service-issue" id="link-service-issue">Serviceability Issues</a>
									</li>
									<li>
										<a href="#existing-service">Existing Services</a>
									</li>
									<li>
										<a href="#past-due">Past Due Balance</a>
									</li>
								</ul>
								<strong class="sub">Non-Sales</strong>
								<ul>
									<li>
										<a href="#billing-support">Billing Support</a>
									</li>
									<li>
										<a href="#tech-support">Technical Support</a>
									</li>
									<li>
										<a href="#office-information">Office Locations</a>
									</li>
								</ul>
							</div>           
            </ul>
        </ul>
      </div>

<!-- Main -->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 fixed">
        </div>
        <!-- /col-3 -->
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 scrollit">
            <div class="row">
                <!-- center left-->
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 scrollit">
                     <div class="panel panel-default">
                        <div class="panel-heading"><h3 class="nostyle"><b>SCRIPT</b></h3></div>
                        <div class="panel-body">
                            <div class="one-third">
								<h3>Start Here</h3><hr>
                                <a name="start"></a>
                                <h4>Begin</h4>
								<ul class="switch-color icon-color">
									<li class="icon-school">
										Thank you for calling, are you looking to add, upgrade, or start new service or do you need billing or technical support?
									</li>
									<li class="icon-check2">
										ACTION: 
										<ul>
											<li><a href="#sales-new">Sales/New Service</a></li>
                                            <li><a href="#tech-support">Technical Support</a></li>
											<li><a href="#billing-support">Billing Support</a></li>
                                            <li><a href="#office-information">Office Locations</a></li>
										</ul>
									</li>
									<li class="icon-school">
										Okay great, I just need to verify that you are serviceable and get promotional pricing in your area. My name is ______ and I will be assiting you today!
									</li>
									<li class="icon-school">
										May I have your first and last name?
									</li>
									<li class="icon-school">
										May I have your address where you would like service?
									</li>
									<li class="icon-school">
										What is a good call back number in case we get disconnected?
									</li>
									<li class="icon-school">
										Please hold one moment while I verify your serviceability.
									</li>
									<li class="icon-check2">
										ACTION: <a href="https://www.google.com/maps" target="_blank">Check Google Maps</a>
									</li>
									<li class="icon-check2">
										ACTION: Click Show Provider in the Salerity Lead to determine the Provider
									</li>
                                    <li>PROVIDERS QUICK LINK:</li>
										<ul>
                                            <li><a href="/providers#brighthouse" target="_blank">Bright House</a></li>
                                            <li><a href="/providers#charter" target="_blank">Charter</a></li>
                                            <li><a href="/providers#cox" target="_blank">Cox</a></li>
                                            <li><a href="/providers#directv" target="_blank">DIRECTV</a></li>
                                            <li><a href="/providers#mediacom" target="_blank">Mediacom</a></li>
                                            <li><a href="/providers#twc" target="_blank">Time Warner</a></li>
										</ul>
									<li class="icon-school">
										Okay, I see here you are in fact serviceable by ________. What services were you looking to get? There is TV, Internet, and Phone.
									</li>
									<li class="icon-check2">
										ACTION: <a href="#sales-new">Collect Information & Serviceability</a>
									</li>
								</ul>
							</div>
                        <div class="panel">
						<div class="panel-wrapper">
							<div class="one-full">
								<a name="sales-new"></a>
                                <p>
									&nbsp;
								</p>
								<h3>Sales/New Service</h3><hr>
                                <a name="collect-info"></a>
								<h4>Collect Information &amp; Serviceability</h4>
								<ul class="icon-check">
									<li class="icon-check2">
										ACTION: Connect to new lead in Salerity
									</li>
									<li class="icon-school">
										Okay great, I just need to verify that you are serviceable and get the promotional pricing in your area. My name is _______ and I will be assisting you today! May I start with your first and last name?
									</li>
									<li class="icon-check2">
										ACTION: Input first and last name in Salerity
									</li>
									<li class="icon-school">
										And (customers first name) What is the address where you would like service?
									</li>
									<li class="icon-check2">
										ACTION: Input FULL address in Salerity including apt # or letter
									</li>
									<li class="icon-school">
										What is a good callback number in case we get disconnected?
									</li>
									<li class="icon-check2">
										ACTION: Verify phone 1 in Salerity and input best contact number in phone 2 if different from phone 1. <span class="important">DO NOT DELETE PHONE 1.</span>
									</li>
									<li class="icon-school">
										Please hold one moment (customers first name) while I verify your address and serviceability…
									</li>
									<li class="icon-check2">
										ACTION: <a href="https://maps.google.com/" target="_blank" style="display: inline; padding-left: 0px;">Check Google Maps to Verify City and State</a>
									</li>
									<li class="icon-check2">										
										ACTION: Click Show Provider in the Salerity Lead to determine the Provider
									</li>
									<li class="icon-check2">
										ACTION: If NOT Serviceable or Serviceability Issue, <a href="#service-issue">CLICK HERE</a>
									</li>								
									<li class="icon-school">
										Serviceable: “Okay great! (customers first name) are in fact serviceable by _________. What service were you looking to get? There is TV, Internet, and phone.” 
									</li>
									<li class="icon-check2">
										ACTION: Add provider to <b>Serviceable By</b> box in Salerity 
									</li>
                                    <ul><b class="option">[FOR MULTIPLE SERVICE, SAY]</b>
									<li class="icon-school">
										Great,  let me tell you a little about each service
                                    </li></ul>
								    <ul><b class="option">[FOR SINGLE SERVICE, SAY]</b>
                                    <li class="icon-school">
										Great, let me tell you about the packages we offer
									</li></ul>
									<li class="icon-docs">
										PROVIDERS QUICK LINK:
										<ul>
                                            <li><a href="/providers#brighthouse" target="_blank">Bright House</a></li>
                                            <li><a href="/providers#charter" target="_blank">Charter</a></li>
                                            <li><a href="/providers#cox" target="_blank">Cox</a></li>
                                            <li><a href="/providers#directv" target="_blank">DIRECTV</a></li>
                                            <li><a href="/providers#mediacom" target="_blank">Mediacom</a></li>
                                            <li><a href="/providers#twc" target="_blank">Time Warner</a></li>
										</ul>
									</li>

								</ul>
								<p>
									&nbsp;
								</p>
								<h3 id="closeandconvert">Close and Convert</h3><hr>
								<a name="install"></a>
								<h4>Installation Charge</h4>
								<ul class="icon-check">
									<li class="icon-check2">
										ACTION: <span class="qTipPhrase">Inform the customer of any installation charge the Portal includes in the order. </span>
									</li>
									<li class="icon-docs">
										QUICK LINK:
										<ul>
											<li>
												<a href="#tv-sale">Sales</a>
											</li>
										</ul>
									</li>
								</ul><br>
								<a name="bill-review"></a>
								<h4>Billing Review</h4>
								<ul class="icon-check">

									<li class="icon-school">
										Ok (customers name) you are all set up for your services. Just to review you ordered ________ with your monthly bill being _______.
									</li>
									<li class="icon-check2">
										ACTION:  Inform the customer of total that was prepaid if applies or total that is due at time of installation for COD. Also inform the customer of any Deposit that may be required
									</li>
									<li class="icon-docs">
										QUICK LINK:
										<ul>
											<li>
												<a href="#tv-sale">Sales</a>
											</li>
										</ul>
									</li>
								</ul><br>
								<a name="process-order"></a>
								<h4>Process Order</h4>
								<ul class="icon-check">

									<li class="icon-school">
										Did you want me to go ahead and set you up with an appointment for service ??</li>
										<ul>
												<b  class="option">[IF NO]</b>
												<ul>
													<li class="icon-school">
														OK, Let me go ahead and give you our call back number
													</li>
													<li class="icon-school">
														Do you have a pen and paper?
													</li>
													<li class="icon-school">
                                                        Great, our number is (Callback Number). We will make notes in your file so if you need to call back in, anyone here can help you out. I will also make a follow up call with you in a couple of days to see if you have any further questions.</li>
                                                    <li class="icon-check2">
														ACTION: Note information in description box in Salerity
													<br>
														ACTION: Check action needed
													<br>
														ACTION: <span class="important">TASK YOURSELF TO FOLLOW UP THE NEXT DAY</span>
													</li>
												</ul>
											
												<b class="option">[IF YES]</b>
												<ul>
													<li class="icon-check2">
														ACTION: Go to Salerity Lead
													</li>
													<li class="icon-check2">
														ACTION: Change Lead to SOLD
													</li>
													<li class="icon-school">
														Now I do have to process the order manually. This could take 10 to 15 minutes. I can place you on hold during this time or I can call you back to give you the first available install date &amp; time finalize the order. Would you like to hold or should I give you a call back?</li>
														<ul>
                                                        <b class="option">[IF CALLBACK]</b>
                                                            <ul>
                                                                <li class="icon-school">
                                                                    Is the callback number I collected the number you would like to keep on file?
                                                                </li>
                                                            </ul>
                                                         <b class="option">[IF HOLD]</b> 
                                                            <ul>
                                                            <li class="icon-school">
                                                                Ok, let me place you on hold and I will be back shortly</li>
                                                            <li class="icon-check2">
                                                                ACTION: Place on Park in Five9
                                                            </li>
                                                            <li class="icon-check2">
                                                                ACTION: Review Services and Add-Ons as you enter them in the Salerity
                                                            </li>
                                                            <li class="icon-check2">
                                                                ACTION: Call Order Entry and Convert Order Manually
                                                            </li>
                                                            <li class="icon-check2">
                                                                ACTION: Note Conversion details in Salerity
                                                            </li>
                                                            <li class="icon-check2">
                                                                ACTION: Take caller off hold or call them back and give callback number
                                                            </li>
                                                            <li class="icon-school">
                                                                I appreciate your patience with me, I have completed the order and the next available date and time is... (INSTALL DATE &amp; TIME). Does that work for you?
                                                            </li>
                                                            <li class="icon-check2">
                                                                ACTION: Confirm date and time with customer and adjust if needed
                                                            </li>
                                                            </ul>											
                                                        </ul>
									<!-- LI HERE -->
									<li class="icon-docs">
										QUICK LINK:
										<ul>
											<li>
												<a href="#tv-sale">Sales</a>
											</li>
										</ul>
									</li>
								</ul><br>
                                <a name="final-review"></a>
								<h4>Final Order Review</h4>
								<ul class="icon-check">

									<li class="icon-school">
										Ok ((NAME)) you are all set up. We will be at ((ADDRESS) on ((INSTALL DATE)) to install ((SERVICES)).
									</li>
									<li class="icon-school">
										The technician will give you a pre-call on ((PHONE)) to let you know he is on his way.
									</li>
									<li class="icon-school">
										Please unlock any gates and temporarily lock away any pets.
									</li>
                                    
								    <b class="option">[NO DEPOSIT]</b>
									<li class="icon-school">
										I also wanted to let you know that your first month’s bill and any install fees will be due at the time of installation, the exact amount is....</li>
										<br>
                                    <b class="option">[DEPOSIT W/ OPTION TO WAIVE]</b>
                                    	<li class="icon-school">										
										The total amount due at the time of installation will also include a $50 security deposit. Fortunately, you do have the option to waive the deposit by setting up recurring and pre-payment with our billing department. Would you like their phone number? [GIVE CUSTOMER SERVICE NUMBER]</li>
										<br>
		
										<b class="option">[NO OPTION TO WAIVE]</b>
										<br>
                                    <li class="icon-school">
										We will also be requiring a $50.00 security deposit from you as well, you will get this deposit back after 11 months or a check will be sent to your address whenever you cancel.
									</li>
									<li class="icon-school">
										The technician will set everything up and ensure it is working properly so you can begin enjoying your new service.
									</li>
									<li class="icon-school">
										Thank you for your time and thank you for choosing Time Warner, have a  wonderful day!
									</li>
									<li class="icon-docs">
										QUICK LINK:
										<ul>
											<li>
												<a href="#tv-sale">Sales</a>
											</li>
										</ul>
									</li>
								</ul>
                                <p>
									&nbsp;
								</p>
								<h3>Voicemails</h3><hr>
								<a name="follow-up-message"></a>
								<h4>Follow Up Message</h4>
								<ul class="icon-check">
									<li class="icon-school">
										Hello, my name is ______ and I’m calling about [Service Provider]. I wanted to give you a callback to see if you are still interested in service [TV, Internet, Phone]. If you are still interested, feel free to give me a callback anytime; my number is [Our Provider Callback Number]. Thank you and have a great day!<br>
									</li>
								</ul><br>
                                <a name="missed-call"></a>
								<h4>Missed Call</h4>
								<ul class="icon-check">
									<li class="icon-school">
										Hello, my name is ______ calling about [Service Provider]. I’m following up on a missed call we received from this number. If you are looking to start new service, add or upgrade your current service, feel free to give me a callback; my number is [Our Provider Callback Number]. Thank you and have a great day!<br>
									</li>
                                </ul><br>
                                <a name="web-lead"></a>
								<h4>Web Lead</h4>
								<ul class="icon-check">
									<li class="icon-school">
										Hello my name is _____ calling about [Service Provider]. I’m following up on a web form which was submitted online recently, asking about information for new service. If you are looking to start new service, add or upgrade your current service, feel free to give me a call back; my callback number is [Our Provider Callback Number]. Thank you and have a great day!<br>
									</li>									
								</ul><br>
								<a name="final-order-review-message"></a>
								<h4>Final Order Review Message</h4>
								<ul class="icon-check">
									<li class="icon-school">
										Hello this is ______ calling about [Service Provider]. I’m sorry we were unable to reach you, but I did finish processing your order and have your installation date and time setup for [Install Date] at [Install Time]. I also wanted to let you know that your first month’s bill will be due at the time of installation; the exact amount is [Customer’s COD - MENTION DEPOSIT INFO IF APPLICABLE]. If you have any questions or if you would like to reschedule, please give us a callback at [Our Provider Callback Number]. Thank you for choosing [Service Provider] and I hope you have a great day!
									</li>								
								</ul>                                
								<p>
									&nbsp;
								</p>
								<h3>Follow Up Messages</h3>
                                <hr>
								<a name="missed-call-fu"></a>
								<h4>Missed Call Follow Up</h4>
								<ul class="icon-check">
									<li class="icon-school">
										Hello my name is _____ calling about [Service Provider]. I’m following up on a missed call we have received from this number. Were you looking to add, upgrade, or start new service or did you need Billing or Technical Support?
									</li>
									<li class="icon-check2">
										ACTION: Sales - Create Lead in Salerity if one has not been created already and proceed with New Order
									</li>
									<li class="icon-check2">
										ACTION: For Non-Sales, refer lead to the provider <a href="#cs_modal" data-toggle="modal">Customer Service Number</a>
									</li>
								</ul><br>
                                <a name="web-lead-fu"></a>
								<h4>Web Lead Follow Up</h4>
								<ul class="icon-check">
									<li class="icon-school">
										Hello my name is _____ calling about [Service Provider]. I’m following up on a web form which was submitted online recently asking about information for new service. Were you looking to add, upgrade, or start new service today?
									</li>
									<li class="icon-check2">
										ACTION: Sales - Use Web Lead to proceed with a New Order and go over Services and Pricing depending on what they are looking to get
									</li>
									<li class="icon-check2">
										ACTION: For Non-Sales, refer lead to the provider <a href="#cs_modal" data-toggle="modal">Customer Service Number</a>
									</li>
								</ul>
                                <p>
									&nbsp;
								</p>
                                <h3>Follow Up Procedures</h3>
                                <hr>                                            
								    <a name="item1-fup"></a>
                                    <h4>Item 1</h4>
                                    <ul class="icon-check">
                                        <li class="icon-school">
                                            Needs Attn
                                        </li>
								    </ul><br>
                                    <a name="item2-fup"></a>
                                    <h4>Item 2</h4>
                                    <ul class="icon-check">
                                        <li class="icon-school">
                                            Needs Attn
                                        </li>
								</ul>
                                 <p>
									&nbsp;
								</p>
								<h3>Sales Issues</h3>
                                <hr>
								<a name="service-issue"></a>
								<h4>Serviceability Issues</h4>
								<ul class="icon-check">

									<li class="icon-school">
										It seems like my first system is telling me you are not serviceable. I would need to call into my Serviceability Dept to verify the provider in your area. May I place you on hold while I call? This may take 3-5 minutes. May I also have your nearest cross street and house description?
									</li>
									<li class="icon-check2">
										ACTION: Remember to ask customer for nearest cross street as well as house description (whether it’s a 1 story or 2 story home, color, Apartment Complex Name, etc).
									</li>
									<li class="icon-check2">
										ACTION: Place the customer on hold and call into Order Entry. Make sure the address is correct in Google Maps and call Serviceability.
									</li>
									<li class="icon-school">
										I appreciate your patience; I regret to inform you that your address is not serviceable by __(Service Provider)__
									</li>
									<li class="icon-check2">
										ACTION: Note in Salerity that address is not serviceable and who the provider is if any.
									</li>
									<li class="icon-school">
										You are actually serviceable by __(Service Provider)__ and I can help you with pricing
									</li>
									<li class="icon-check2">
										ACTION: Go to the appropriate Portal and Script to continue with the customer.
									</li>
									<li class="icon-school">
										If you would like I can forward your information to a __(Service Provider)__ specialist, who can contact you with pricing, would that be okay?
									</li>
									<li class="icon-check2">
										ACTION: Forward lead information to appropriate Manager
									</li>
									<li class="icon-school">
										Thank you so much for considering __(Service Provider)__ and I hope you have a great day.
									</li>
								</ul><br>
								<a name="existing-service"></a>
								<h4>Existing Services</h4>
								<ul class="icon-check">

									<li class="icon-school">
										
									</li>
									<li class="icon-school">
										I appreciate your patience; it seems that this address currently has active service and the previous tenant did not cancel their services. You will need to get ahold of them to do so. Is it possible for you to contact your landlord or previous tenant to have them disconnect service?
									</li>
									<li class="icon-check2">
										ACTION: Set task to call customer back to complete order.
									</li>									
								</ul><br>
								<a name="past-due"></a>
								<h4>Past Due Balance</h4>
								<ul class="icon-check">

									<li class="icon-school">
										It seems the information you have provided is associated with a past due balance of.
									</li>
									<li class="icon-school">
										If you would like, I can give you the number to Billing so you can pay off the past due amount. We would not be able to set up new service, until this debt is settled. I can call you back once it is settled to re-submit your order
									</li>
									<li class="icon-check2">
										ACTION: Make notes in Salerity regarding the past due balance
									</li>
									<li class="icon-check2">
										ACTION: Set task to call customer back
									</li>
								</ul>
								<p>
									&nbsp;
								</p>
								<h3>Non-Sales</h3>
                                <hr>
								<a name="billing-support"></a>
								<h4>Billing Support Forward</h4>
								<ul class="icon-check">
									<li class="icon-school">
										I appreciate your patience, unfortunately you have reached New Sales. If you  have a pen and paper I can provide you the correct number to Billing; let me know when you’re ready.
									</li>
									<li class="icon-check2">
                                        ACTION: Give the customer the correct <a href="#cs_modal" data-toggle="modal">Customer Service Number</a>
									</li>									
								</ul><br>
								<a name="tech-support"></a>
								<h4>Technical Support Forward</h4>
								<ul class="icon-check">
									<li class="icon-school">
										“I appreciate your patience; unfortunately you have reached New Sales. If you have a pen and paper I can provide you the correct number to Technical Support; let me know when you’re ready.
									</li>
									<li class="icon-check2">
										ACTION: Give the customer the correct <a href="#cs_modal" data-toggle="modal">Customer Service Number</a>
									</li>
								</ul><br>
								<a name="office-information"></a>
								<h4>Office Location Information</h4>
								<ul class="icon-check">
									<li class="icon-school">
										I appreciate your patience; let me confirm the closest location to your area. What is your zip code?
									</li>
									<li class="icon-check2">
										ACTION: Find the nearest Office Location by Provider by using the "Helpful Links" dropdown menu on the left side of this window. 
									</li>
								</ul>
							</div>
							<!-- end div .one-half -->

							<div class="whitespace"></div>
						</div>
					</div>
                        </div>
                    </div>

                    <hr>
                    
                    
    </div>
</div>
<!-- /Main -->

<footer class="text-center"><strong>Powered by Service Radius</strong></a></footer>


    <div class="modal" id="training" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" style="z-index:9999">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Manuals</h4>
                </div>
                <div class="modal-body">
                    <a href="http://salerity.com/manager/private/sales-script/guides/Charter_Portal_12-17-13.pdf" target="_blank">Charter Portal</a><br>  
                    <a href="http://salerity.com/manager/private/sales-script/guides/leapfrog_guide.pdf" target="_blank">Leapfrog Time Warner Guide</a><br>
                    <a href="http://salerity.com/manager/private/sales-script/guides/ACCSTrainingManual.pdf" target="_blank">ACCS Training Manual</a>
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn">Close</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dalog -->
    </div>
        
    <div class="modal" id="legend" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" style="z-index:9999">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Legend</h4>
                </div>
                <div class="modal-body">
                    <ul class="icon-check">
                                            <li class="icon-school">
                                            This is your script and lines you<br> repeat to the customer
                                        </li><br>
                                        <li class="icon-check2">
                                            ACTION: Reminders of operations<br> and actions.
                                        </li><br>
                                        <li class="icon-docs">
                                            QUICK LINK: <a>These are shortcuts</a>
                                        </li>
                                    </ul>           
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn">Close</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dalog -->
    </div>
                
    <div class="modal" id="cs_modal" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" style="z-index:9999">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Customer Service Numbers</h4>
                </div>
                <div class="modal-body">
                    <ul class="icon-check">                                    	 
                            <li><a href="tel: 800-288-2020">&nbsp;&nbsp;800-288-2020 - AT&T </a></li>
                            <li><a href="tel: 888-289-8988">&nbsp;&nbsp;888-289-8988 - Brighthouse</a></li>
                            <li><a href="tel: 888-438-2427">&nbsp;&nbsp;888-438-2427 - Charter</a></li>
                            <li><a href="tel: 800-934-6489">&nbsp;&nbsp;800-934-6489 - Comcast</a></li>                        
                            <li><a href="tel: 855-780-2031">&nbsp;&nbsp;855-780-2031 - Cox</a></li>
                            <li><a href="tel: 800-531-5000">&nbsp;&nbsp;800-531-5000 - DIRECTV</a></li>
                            <li><a href="tel: 877-462-8188">&nbsp;&nbsp;877-462-8188 - Frontier</a></li>
                            <li><a href="tel: 866-347-3292">&nbsp;&nbsp;866-347-3292 - Hughesnet</a></li>   
                            <li><a href="tel: 855-633-4226">&nbsp;&nbsp;855-633-4226 - Mediacom</a></li>
                            <li><a href="tel: 888-892-2253">&nbsp;&nbsp;888-892-2253 - Time Warner</a></li>  
                    <ul>
                </div>
                    <div class="modal-footer">
                        <a href="#" data-dismiss="modal" class="btn">Close</a>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dalog -->
    </div>        
    
    
    <div class="modal" id="cb_modal" style="display: none;" aria-hidden="true">
         <div class="modal-dialog" style="z-index:9999">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Call Back Numbers</h4>
                </div>
                <div class="modal-body">
                            <li><a href="tel: 888-608-8824">&nbsp;&nbsp;888-608-8824 - Brighthouse</a></li>
                            <li><a href="tel: 855-969-0838">&nbsp;&nbsp;855-969-0838 - Charter </a></li>
                            <li><a href="tel: 866-993-7323">&nbsp;&nbsp;866-993-7323 - Comcast</a></li>
                            <li><a href="tel: 877-630-5446">&nbsp;&nbsp;877-630-5446 - Cox </a></li>                        
                            <li><a href="tel: 888-367-3051">&nbsp;&nbsp;888-367-3051 - DirecTV </a></li>
                            <li><a href="tel: 877-647-1193">&nbsp;&nbsp;877-647-1193 - Frontier</a></li>
                            <li><a href="tel: 877-981-9987">&nbsp;&nbsp;877-981-9987 - Mediacom</a></li>
                            <li><a href="tel: 877-624-4353">&nbsp;&nbsp;877-624-4353 - Time Warner</a></li>        
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn">Close</a>
                </div>
                </div>
                <!-- /.modal-content -->
            </div>
        <!-- /.modal-dalog -->
    </div>        

    <div class="modal" id="links_modal" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" style="z-index:9999">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Helpful Links</h4>
            </div>
            <div class="modal-body">                                
                    <li><a href="http://maps.google.com" title="click to open" target="_blank">&nbsp;&nbsp;Google Maps</a></li>
					<li><a href="http://www.cablemover.com" title="click to open" target="_blank">&nbsp;&nbsp;CableMover.com</a></li>					
					<li><a href="https://www.charter.com/browse/content/channel-lineup" title="click to open" target="_blank">&nbsp;&nbsp;Charter Channel Lineup</a></li>
				    <li><a href="http://charter.com/locations" title="click to open" target="_blank">&nbsp;&nbsp;Charter Office Locations</a></li>                
                	<li><a href="https://www.charter-retailportal.com/Account/Login.aspx?ReturnUrl=%2f" title="click to open" target="_blank">&nbsp;&nbsp;Charter Portal</a></li>	
					<li><a href="http://www.comcast.com/Customers/Clu/ChannelLineup.ashx" title="click to open" target="_blank">&nbsp;&nbsp;Comcast Channel Lineup</a></li>			
					<li><a href="https://ly.comcast.com/Localization/Localize.cspx?Referer=/paymentCenters/FindPaymentCenters.cspx" title="click to open" target="_blank">&nbsp;&nbsp;Comcast Service Center</a></li>
					<li><a href="http://ww2.cox.com/aboutus/sandiego/contact-us/cox-centers.cox" title="click to open" target="_blank">&nbsp;&nbsp;Cox Office Locations</a></li>
					<li><a href="http://ww2.cox.com/residential/tv/channel-lineup.cox" title="click to open" target="_blank">&nbsp;&nbsp;Cox Channel Lineup</a></li>
                    <li><a href="http://www.cableauthorizeddealer.com/luxradius/?oid=472042&cb%5Bxp%5D=default&ca%5Bdealer_location_code%5D=6237" title="click to open" target="_blank">&nbsp;&nbsp;Leapfrog</a></li>
                    <li><a href="http://www.timewarnerla.com/cablestores/" title="click to open" target="_blank">&nbsp;&nbsp;Time Warner Office Locations</a></li>
					<li><a href="http://www.timewarnercable.com/Localization/Corporate.ashx?tid=1&embedded=False" title="click to open" target="_blank">&nbsp;&nbsp;Time Warner Channel Lineup</a></li>     
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn">Close</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dalog -->
    </div>               
                   
            
    <div class="modal" id="entry_modal" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" style="z-index:9999">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Order Entry</h4>
            </div>
            <div class="modal-body">                                
                        <li><a href="tel: 866-820-8722" arget="_blank">&nbsp;&nbsp;866-820-8722 - Charter </a></li>    
                        <li><a href="tel: 855-392-9910" target="_blank">&nbsp;&nbsp;855-392-9910 - Leapfrog</a></li>					
                        <li><a href="tel: 210-301-0779" target="_blank">&nbsp;&nbsp;210-301-0779 - TPV Charter</a></li>	  
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn">Close</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dalog -->
    </div>     
            
                        
    <div class="modal" id="service_modal" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" style="z-index:9999">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Serviceability</h4>
            </div>
            <div class="modal-body">                                
                        <li><a href="tel: 866-639-6769" target="_blank">&nbsp;&nbsp;866-639-6769 - Charter </a></li>
                        <li><a href="tel: 855-392-9910" target="_blank">&nbsp;&nbsp;855-392-9910 - Time Warner</a></li>		
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn">Close</a>
                </div>f
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dalog -->
    </div>    
            
    <div class="modal" id="rep_modal" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" style="z-index:9999">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Rep ID</h4>
            </div>
            <div class="modal-body">                                    
                <li><a href="tel: 866-639-6769" target="_blank">&nbsp;&nbsp;29559 - Charter </a></li>
                <li><a href="tel: 855-392-9910" target="_blank">&nbsp;&nbsp;22698 - Leapfrog</a></li>		
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn">Close</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dalog -->
    </div>  
            
     			
                   
</div>
<!-- /.modal -->
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="http://arrow.scrolltotop.com/arrow86.js"></script>
        <noscript>Not seeing a <a href="http://www.scrolltotop.com/">Scroll to Top Button</a>? Go to our FAQ page for more info.</noscript>

	</body>
</html>