body{
    font-size: 13px;
}
.navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:16px;
}

.nav > li > a {
  color: #9bc9f6;
}
  
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  color: #fff;
  background-color:#2494f2;
  width: 1629px;
}

/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 9px;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.icon-check2{
    color: #0A0;
    margin-bottom: 6px;
    font-size: 16px;
    margin-left: 20px;
    font-style: italic;
    list-style-type:none;
}
.icon-school{
    background-image: url('../images/quote.png');
    background-repeat: no-repeat;
    padding-left: 20px;
    font-size: 18px;
    line-height:24px;
    list-style-type: none;
    margin-bottom: 10px;
}
.navbar-nav{
    margin-top:15px; !important
    margin-right:15px; !important
    
}
.navbar-inverse{
    background-color: #272930;
}
.navbar-inverse .navbar-nav>li>a{
    color: #9bc9f6;
}

.nav-stacked > li:active{
    background-color:#fff;
    color: #000;
}
.nav > li {
    border-top: 1px solid #32353e;
    border-bottom: 1px solid #1a1c20;
}
.nav-tabs > li{
    border-top: none;
    border-bottom: none;
}
.nav > li > a{
    text-decoration:none; 
    background-color:#272930;
}
.nav > li > a:hover{
    text-decoration:none; 
    background-color:#272930;
}
.nav > li >a:active{
    background-color:#272930;
    color:#000;
}

.nav>li>a:focus{
    color: black;
    background-color: #ddd;
}
.nav-tabs >li >a:hover{
    background-color: #272930;
}
.title{
   margin-left: 15px;
   color:#fff;
}
.nav-tabs>li.hover>a{
  color: #337ab7;
  cursor: default;
  background-color: #eee;
  border-bottom-color: transparent;
}
li > a:visited{
    color: #337ab7;
    text-decoration: none;
}
li > a:hover{
    color: #009999;
    text-decoration: none;
}
li > a:active{
    color: #009999;
    text-decoration: none;
}


.nav > li > a:visited{
    color: #9bc9f6;
    text-decoration: none;
    background-color: #272930;
}
.nav > li > a:hover{
    color: #9bc9f6;
    text-decoration: none;
    background-color: #272930;
}
.nav > li > a:active{
    color: #9bc9f6;
    text-decoration: none;
    background-color: #272930;
    border-top: 2px green;
}

.sub{
    margin-left: 15px;
    margin-right:15px;
    color:#aaa;
}
.span3{
    color:#272930;
    margin-top:68px;   
}
.navbar-inverse{
    background-color: #272930;
}
.scrollit{ 
    margin-top:20px;
}
h3:before{
  display: block; 
  content: " "; 
  margin-top: -300px; 
  height: 300px; 
  visibility: hidden;
}
.affix{
  background-color:#272930;
  padding-bottom:1000px;
}
h3{
    border-radius: 5px;
    background: #2494f2;
    padding: 10px;
    color: white;    
    box-shadow: 3px 3px  #000;
}
.nostyle{
    border-radius: 0px;
    background: none;
    color: #333;
    box-shadow: none;
}
.nostyle2{
    border-radius: 0px;
    background: none;
    
    box-shadow: none;
    color: #FFF;
}
h4{
    font-size: 22px;
    color: #3366CC;
    font-weight: bold;
}
h4:before{
  display: block; 
  content: " "; 
  margin-top: -75px; 
  height: 75px; 
  visibility: hidden;
}
.one-third{
   margin-left: 15px;
   margin-right: 15px;

}
.option{
   font-size: 18px;
   color: #990066;
}
.important{
    color:red;
}
.nav-stacked>li+li{
    margin-top:0px;
}
.rep-id{
    padding:8px;
    color: #fff;
}
.scroll{
    overflow:scroll;
}
.col-lg-9{  margin-left: 180px;}
.col-md-9{  margin-left: 180px;}
.col-sm-9{  margin-left: 180px;}
.col-xs-9{  margin-left: 180px;}
.li{
    color: #aa0000;
}
.dropdown-menu>li>a{
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #337ab7; 
  white-space: nowrap;
}
.provider{
    visibility: hidden;
    padding-top: 30px;
}
.section{
    visibility: hidden;
    padding-top: 50px;
}
.nav-tabs > li > a{
    color: black;
    background-color: #aaa;
    border-top: none;
    border-bottom: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color: white;
    background-color: #272930;
    border-top: 1px;
    border-bottom: 1px;
}
tr:nth-child(even){
    background-color:#ddd;
}
tr:nth-child(odd){
    background-color:#aaa;
}
.bh_ico{
    width: 10px;
    height: 10px;
    background-color: orange;
    margin-right: 10px;.
    margin-top: 2px;
    float: left;
    margin-top: 2px;
}
.ch_ico{
    width: 10px;
    height: 10px;
    background-color: CadetBlue;
    margin-right: 10px;.
    margin-top: 2px;
    float: left;
    margin-top: 2px;
}
.cox_ico{
    width: 10px;
    height: 10px;
    background-color: DarkBlue;
    margin-right: 10px;.
    margin-top: 2px;
    float: left;
    margin-top: 2px;
}
.dtv_ico{
    width: 10px;
    height: 10px;
    background-color: silver;
    margin-right: 10px;.
    margin-top: 2px;
    float: left;
    margin-top: 2px;
}
.mc_ico{
    width: 10px;
    height: 10px;
    background-color: #B22222;
    margin-right: 10px;.
    margin-top: 2px;
    float: left;
    margin-top: 2px;
}
.twc_ico{
    width: 10px;
    height: 10px;
    background-color: purple;
    margin-right: 10px;.
    margin-top: 2px;
    float: left;
    margin-top: 2px;
}
table {
    border: 1px solid #ddd;
	border-collapse:collapse;
	border-spacing: 0;
	margin: 15px auto;
}

/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

.qTipPhrase{
	color:#0000FF;
	text-decoration:underline;
}
.tooltiptext{
    display: none;
    min-height:100px;
    max-height:400px;
    overflow-y: auto;
    font-size:14px;
}
.tooltiptext table tr:hover:nth-child(even){
	background-color:#ddd;
}
.tooltiptext table tr:hover:nth-child(odd){
	background-color:#eee;
}

.channelHeading{
	font-size:1.2em;
	color:black;
	font-weight: bold;
}

.training-description{
	height:50px;	
}


#bottom_column {
background: #0533AA !important;
}

th, tr, td {
	border: none;
	padding: 0.5em;
}

th {
	border: 0;
}

th a {
	font-weight: bold;
}

tr {
	border: 0;
}

td {
	border: 0;
}

th:nth-child(even), th:nth-child(even) a {
	background-color: #999;
	color: #fff;
	text-shadow: 1px 1px 1px #555;
}

th:nth-child(odd), th:nth-child(odd) a {
	background-color: #777;
	color: #fff;
	text-shadow: 1px 1px 1px #555;
}

tr:nth-child(even) {
	background-color: #ddd;
	color: #555;
	text-shadow: 1px 1px 1px #eee;
}

tr:nth-child(odd) {
	background-color: #eee;
	color: #777;
	text-shadow: 1px 1px 1px #fff;
}

tr:nth-child(even):hover {
	background-color: #fdfbbd;
}

tr:nth-child(odd):hover {
	background-color: #fdfbbd;
}